In [739]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Concatenar os DataFrames ao longo das colunas
df = pd.concat([train,test],axis=0)
df = df.loc[:,~df.columns.duplicated()]
# Verificar o número de linhas no DataFrame resultante
print("Número de linhas no DataFrame train:", len(train))
print("Número de linhas no DataFrame test:", len(test))
print("Número de linhas no DataFrame resultante:", len(df))
print(df.columns)
df.head()

Número de linhas no DataFrame train: 1460
Número de linhas no DataFrame test: 1459
Número de linhas no DataFrame resultante: 2919
Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [740]:
colunas_traduzidas = [
    'Id', 'ClasseDeConstrução', 'Zoneamento', 'FrenteLote', 'AreaLote', 'Rua',
    'Viela', 'FormatoLote', 'ContornoTerreno', 'Utilidades', 'ConfigLote',
    'DeclividadeTerreno', 'Vizinhanca', 'Condicao1', 'Condicao2', 'TipoConstrucao',
    'EstiloCasa', 'QualidadeGeral', 'CondicaoGeral', 'AnoConstrucao', 'AnoRemodelacao',
    'EstiloTelhado', 'MaterialTelhado', 'ExteriorPrimario', 'ExteriorSecundario', 'TipoRevestimentoMasonryVeneer',
    'AreaRevestimentoMasonryVeneer', 'QualidadeExterior', 'CondicaoExterior', 'TipoFundacao', 'QualidadePorao',
    'CondicaoPorao', 'ExposicaoPorao', 'TipoAcabamentoPorao1', 'AreaAcabadaPorao1',
    'TipoAcabamentoPorao2', 'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao', 'Aquecimento',
    'QualidadeAquecimento', 'ArCondicionadoCentral', 'Eletricidade', '1oAndarSF', '2oAndarSF',
    'AreaBaixaQualidadeAcabamento', 'AreaViva', 'BanheirosPorao', 'MeioBanheiroPorao', 'BanheirosCompletos',
    'MeioBanheiros', 'QuartosAcima', 'CozinhasAcima', 'QualidadeCozinha', 'TotalComodosAcima',
    'Funcionalidade', 'Lareiras', 'QualidadeLareira', 'TipoGaragem', 'AnoConstrucaoGaragem',
    'AcabamentoGaragem', 'CarrosGaragem', 'AreaGaragem', 'QualidadeGaragem', 'CondicaoGaragem',
    'Pavimentacao', 'DeckMadeiraSF', 'VarandaAbertaSF', 'VarandaFechadaSF',
    'Varanda3EstacoesSF', 'VarandaTelaSF', 'AreaPiscina', 'QualidadePiscina',
    'Cerca', 'RecursoDiverso', 'ValorRecursoDiverso', 'MesVenda', 'AnoVenda',
    'TipoVenda', 'CondicaoVenda', 'SalePrice'
]

train.columns = colunas_traduzidas

df.columns = colunas_traduzidas
df = df.drop(['Id'], axis=1)
print(df.columns)

Index(['ClasseDeConstrução', 'Zoneamento', 'FrenteLote', 'AreaLote', 'Rua',
       'Viela', 'FormatoLote', 'ContornoTerreno', 'Utilidades', 'ConfigLote',
       'DeclividadeTerreno', 'Vizinhanca', 'Condicao1', 'Condicao2',
       'TipoConstrucao', 'EstiloCasa', 'QualidadeGeral', 'CondicaoGeral',
       'AnoConstrucao', 'AnoRemodelacao', 'EstiloTelhado', 'MaterialTelhado',
       'ExteriorPrimario', 'ExteriorSecundario',
       'TipoRevestimentoMasonryVeneer', 'AreaRevestimentoMasonryVeneer',
       'QualidadeExterior', 'CondicaoExterior', 'TipoFundacao',
       'QualidadePorao', 'CondicaoPorao', 'ExposicaoPorao',
       'TipoAcabamentoPorao1', 'AreaAcabadaPorao1', 'TipoAcabamentoPorao2',
       'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao',
       'Aquecimento', 'QualidadeAquecimento', 'ArCondicionadoCentral',
       'Eletricidade', '1oAndarSF', '2oAndarSF',
       'AreaBaixaQualidadeAcabamento', 'AreaViva', 'BanheirosPorao',
       'MeioBanheiroPorao', 'BanheirosCompletos', 'MeioBanheiros',
       'QuartosAcima', 'CozinhasAcima', 'QualidadeCozinha',
       'TotalComodosAcima', 'Funcionalidade', 'Lareiras', 'QualidadeLareira',
       'TipoGaragem', 'AnoConstrucaoGaragem', 'AcabamentoGaragem',
       'CarrosGaragem', 'AreaGaragem', 'QualidadeGaragem', 'CondicaoGaragem',
       'Pavimentacao', 'DeckMadeiraSF', 'VarandaAbertaSF', 'VarandaFechadaSF',
       'Varanda3EstacoesSF', 'VarandaTelaSF', 'AreaPiscina',
       'QualidadePiscina', 'Cerca', 'RecursoDiverso', 'ValorRecursoDiverso',
       'MesVenda', 'AnoVenda', 'TipoVenda', 'CondicaoVenda', 'SalePrice'],
      dtype='object')

In [741]:
colunas_traduzidas = [
    'Id', 'ClasseDeConstrução', 'Zoneamento', 'FrenteLote', 'AreaLote', 'Rua',
    'Viela', 'FormatoLote', 'ContornoTerreno', 'Utilidades', 'ConfigLote',
    'DeclividadeTerreno', 'Vizinhanca', 'Condicao1', 'Condicao2', 'TipoConstrucao',
    'EstiloCasa', 'QualidadeGeral', 'CondicaoGeral', 'AnoConstrucao', 'AnoRemodelacao',
    'EstiloTelhado', 'MaterialTelhado', 'ExteriorPrimario', 'ExteriorSecundario', 'TipoRevestimentoMasonryVeneer',
    'AreaRevestimentoMasonryVeneer', 'QualidadeExterior', 'CondicaoExterior', 'TipoFundacao', 'QualidadePorao',
    'CondicaoPorao', 'ExposicaoPorao', 'TipoAcabamentoPorao1', 'AreaAcabadaPorao1',
    'TipoAcabamentoPorao2', 'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao', 'Aquecimento',
    'QualidadeAquecimento', 'ArCondicionadoCentral', 'Eletricidade', '1oAndarSF', '2oAndarSF',
    'AreaBaixaQualidadeAcabamento', 'AreaViva', 'BanheirosPorao', 'MeioBanheiroPorao', 'BanheirosCompletos',
    'MeioBanheiros', 'QuartosAcima', 'CozinhasAcima', 'QualidadeCozinha', 'TotalComodosAcima',
    'Funcionalidade', 'Lareiras', 'QualidadeLareira', 'TipoGaragem', 'AnoConstrucaoGaragem',
    'AcabamentoGaragem', 'CarrosGaragem', 'AreaGaragem', 'QualidadeGaragem', 'CondicaoGaragem',
    'Pavimentacao', 'DeckMadeiraSF', 'VarandaAbertaSF', 'VarandaFechadaSF',
    'Varanda3EstacoesSF', 'VarandaTelaSF', 'AreaPiscina', 'QualidadePiscina',
    'Cerca', 'RecursoDiverso', 'ValorRecursoDiverso', 'MesVenda', 'AnoVenda',
    'TipoVenda', 'CondicaoVenda'
]



test.columns = colunas_traduzidas

In [742]:
# Verificar valores NaN em cada coluna
nan_info = df.isnull().sum()

# Calcular a proporção de NaN em relação ao total de linhas
nan_ratio = nan_info / len(df)

# Criar um DataFrame para exibir as informações
nan_df = pd.DataFrame({
    'Coluna': nan_info.index,
    'Quantidade_NaN': nan_info.values,
    'Proporcao_NaN': nan_ratio.values
})

# Filtrar apenas as colunas com valores NaN
#nan_df = nan_df[nan_df['Quantidade_NaN'] > 0]
pd.set_option('display.max_rows', None)
# Visualizar o DataFrame resultante
display(nan_df)
pd.reset_option('display.max_rows', None)

                           Coluna  Quantidade_NaN  Proporcao_NaN
0              ClasseDeConstrução               0       0.000000
1                      Zoneamento               4       0.001370
2                      FrenteLote             486       0.166495
3                        AreaLote               0       0.000000
4                             Rua               0       0.000000
5                           Viela            2721       0.932169
6                     FormatoLote               0       0.000000
7                 ContornoTerreno               0       0.000000
8                      Utilidades               2       0.000685
9                      ConfigLote               0       0.000000
10             DeclividadeTerreno               0       0.000000
11                     Vizinhanca               0       0.000000
12                      Condicao1               0       0.000000
13                      Condicao2               0       0.000000
14                 TipoConstrucao               0       0.000000
15                     EstiloCasa               0       0.000000
16                 QualidadeGeral               0       0.000000
17                  CondicaoGeral               0       0.000000
18                  AnoConstrucao               0       0.000000
19                 AnoRemodelacao               0       0.000000
20                  EstiloTelhado               0       0.000000
21                MaterialTelhado               0       0.000000
22               ExteriorPrimario               1       0.000343
23             ExteriorSecundario               1       0.000343
24  TipoRevestimentoMasonryVeneer            1766       0.605002
25  AreaRevestimentoMasonryVeneer              23       0.007879
26              QualidadeExterior               0       0.000000
27               CondicaoExterior               0       0.000000
28                   TipoFundacao               0       0.000000
29                 QualidadePorao              81       0.027749
30                  CondicaoPorao              82       0.028092
31                 ExposicaoPorao              82       0.028092
32           TipoAcabamentoPorao1              79       0.027064
33              AreaAcabadaPorao1               1       0.000343
34           TipoAcabamentoPorao2              80       0.027407
35              AreaAcabadaPorao2               1       0.000343
36            AreaNaoAcabadaPorao               1       0.000343
37                 AreaTotalPorao               1       0.000343
38                    Aquecimento               0       0.000000
39           QualidadeAquecimento               0       0.000000
40          ArCondicionadoCentral               0       0.000000
41                   Eletricidade               1       0.000343
42                      1oAndarSF               0       0.000000
43                      2oAndarSF               0       0.000000
44   AreaBaixaQualidadeAcabamento               0       0.000000
45                       AreaViva               0       0.000000
46                 BanheirosPorao               2       0.000685
47              MeioBanheiroPorao               2       0.000685
48             BanheirosCompletos               0       0.000000
49                  MeioBanheiros               0       0.000000
50                   QuartosAcima               0       0.000000
51                  CozinhasAcima               0       0.000000
52               QualidadeCozinha               1       0.000343
53              TotalComodosAcima               0       0.000000
54                 Funcionalidade               2       0.000685
55                       Lareiras               0       0.000000
56               QualidadeLareira            1420       0.486468
57                    TipoGaragem             157       0.053786
58           AnoConstrucaoGaragem             159       0.054471
59              AcabamentoGaragem             159       0.054471
60                  CarrosGaragem               1       0.000343
61                    AreaGaragem               1       0.000343
62               QualidadeGaragem             159       0.054471
63                CondicaoGaragem             159       0.054471
64                   Pavimentacao               0       0.000000
65                  DeckMadeiraSF               0       0.000000
66                VarandaAbertaSF               0       0.000000
67               VarandaFechadaSF               0       0.000000
68             Varanda3EstacoesSF               0       0.000000
69                  VarandaTelaSF               0       0.000000
70                    AreaPiscina               0       0.000000
71               QualidadePiscina            2909       0.996574
72                          Cerca            2348       0.804385
73                 RecursoDiverso            2814       0.964029
74            ValorRecursoDiverso               0       0.000000
75                       MesVenda               0       0.000000
76                       AnoVenda               0       0.000000
77                      TipoVenda               1       0.000343
78                  CondicaoVenda               0       0.000000
79                      SalePrice            1459       0.499829

In [743]:
valores_unicos_qualidade_piscina = df['AreaPiscina'].unique()
contagem_valores_qualidade_piscina = df['AreaPiscina'].value_counts(dropna=False)
print(contagem_valores_qualidade_piscina)
print(valores_unicos_qualidade_piscina)

valores_unicos_qualidade_piscina = df['QualidadePiscina'].unique()
contagem_valores_qualidade_piscina = df['QualidadePiscina'].value_counts(dropna=False)
print(contagem_valores_qualidade_piscina)
print(valores_unicos_qualidade_piscina)

AreaPiscina
0      2906
512       1
648       1
576       1
555       1
480       1
519       1
738       1
144       1
368       1
444       1
228       1
561       1
800       1
Name: count, dtype: int64
[  0 512 648 576 555 480 519 738 144 368 444 228 561 800]
QualidadePiscina
NaN    2909
Ex        4
Gd        4
Fa        2
Name: count, dtype: int64
[nan 'Ex' 'Fa' 'Gd']

In [744]:
df['QualidadePiscina'] = df['QualidadePiscina'].fillna(0)

In [745]:
# Substitua 'df' pelo nome real do seu DataFrame
df['StatusPiscina_Cluster'] = df['AreaPiscina'].astype(str) + '_' + df['QualidadePiscina'].astype(str)

# Exiba as primeiras linhas do DataFrame com a nova coluna
display(df[['AreaPiscina', 'QualidadePiscina', 'StatusPiscina_Cluster']].head())

   AreaPiscina QualidadePiscina StatusPiscina_Cluster
0            0                0                   0_0
1            0                0                   0_0
2            0                0                   0_0
3            0                0                   0_0
4            0                0                   0_0

In [746]:
# Exclua as colunas originais
df = df.drop(['AreaPiscina', 'QualidadePiscina'], axis=1)

valores_unicos_status_piscina = df['StatusPiscina_Cluster'].unique()
contagem_valores_status_piscina = df['StatusPiscina_Cluster'].value_counts(dropna=False)

print(contagem_valores_status_piscina)
print(valores_unicos_status_piscina)

StatusPiscina_Cluster
0_0       2906
512_Ex       1
648_Fa       1
576_Gd       1
555_Ex       1
480_Gd       1
519_Fa       1
738_Gd       1
144_Ex       1
368_0        1
444_0        1
228_Ex       1
561_0        1
800_Gd       1
Name: count, dtype: int64
['0_0' '512_Ex' '648_Fa' '576_Gd' '555_Ex' '480_Gd' '519_Fa' '738_Gd'
 '144_Ex' '368_0' '444_0' '228_Ex' '561_0' '800_Gd']

In [747]:
valores_unicos_tipo_garagem = df['TipoGaragem'].unique()
contagem_valores_tipo_garagem = df['TipoGaragem'].value_counts(dropna=False)
print(contagem_valores_tipo_garagem)
print(valores_unicos_tipo_garagem)

valores_unicos_anosgaragem = df['AnoConstrucaoGaragem'].unique()
contagem_valores_anosgaragem = df['AnoConstrucaoGaragem'].value_counts(dropna=False)
print(contagem_valores_anosgaragem)
print(valores_unicos_anosgaragem)

TipoGaragem
Attchd     1723
Detchd      779
BuiltIn     186
NaN         157
Basment      36
2Types       23
CarPort      15
Name: count, dtype: int64
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
AnoConstrucaoGaragem
NaN       159
2005.0    142
2007.0    115
2006.0    115
2004.0     99
         ...
1908.0      1
1896.0      1
1933.0      1
1906.0      1
1919.0      1
Name: count, Length: 104, dtype: int64
[2003. 1976. 2001. 1998. 2000. 1993. 2004. 1973. 1931. 1939. 1965. 2005.
 1962. 2006. 1960. 1991. 1970. 1967. 1958. 1930. 2002. 1968. 2007. 2008.
 1957. 1920. 1966. 1959. 1995. 1954. 1953.   nan 1983. 1977. 1997. 1985.
 1963. 1981. 1964. 1999. 1935. 1990. 1945. 1987. 1989. 1915. 1956. 1948.
 1974. 2009. 1950. 1961. 1921. 1900. 1979. 1951. 1969. 1936. 1975. 1971.
 1923. 1984. 1926. 1955. 1986. 1988. 1916. 1932. 1972. 1918. 1980. 1924.
 1996. 1940. 1949. 1994. 1910. 1978. 1982. 1992. 1925. 1941. 2010. 1927.
 1947. 1937. 1942. 1938. 1952. 1928. 1922. 1934. 1906. 1914. 1946. 1908.
 1929. 1933. 1917. 1896. 1895. 2207. 1943. 1919.]

In [748]:
valores_unicos_acabamento_garagem = df['AcabamentoGaragem'].unique()
contagem_valores_acabamento_garagem = df['AcabamentoGaragem'].value_counts(dropna=False)
print(contagem_valores_acabamento_garagem)
print(valores_unicos_acabamento_garagem)

valores_unicos_carros_garagem = df['CarrosGaragem'].unique()
contagem_valores_carros_garagem = df['CarrosGaragem'].value_counts(dropna=False)
print(contagem_valores_carros_garagem)
print(valores_unicos_carros_garagem)

valores_unicos_area_garagem = df['AreaGaragem'].unique()
contagem_valores_area_garagem = df['AreaGaragem'].value_counts(dropna=False)
print(contagem_valores_area_garagem)
print(valores_unicos_area_garagem)

AcabamentoGaragem
Unf    1230
RFn     811
Fin     719
NaN     159
Name: count, dtype: int64
['RFn' 'Unf' 'Fin' nan]
CarrosGaragem
2.0    1594
1.0     776
3.0     374
0.0     157
4.0      16
5.0       1
NaN       1
Name: count, dtype: int64
[ 2.  3.  1.  0.  4.  5. nan]
AreaGaragem
0.0       157
576.0      97
440.0      96
240.0      69
484.0      68
         ...
459.0       1
954.0       1
1014.0      1
753.0       1
272.0       1
Name: count, Length: 604, dtype: int64
[ 548.  460.  608.  642.  836.  480.  636.  484.  468.  205.  384.  736.
  352.  840.  576.  516.  294.  853.  280.  534.  572.  270.  890.  772.
  319.  240.  250.  271.  447.  556.  691.  672.  498.  246.    0.  440.
  308.  504.  300.  670.  826.  386.  388.  528.  894.  565.  641.  288.
  645.  852.  558.  220.  667.  360.  427.  490.  379.  297.  283.  509.
  405.  758.  461.  400.  462.  420.  432.  506.  684.  472.  366.  476.
  410.  740.  648.  273.  546.  325.  792.  450.  180.  430.  594.  390.
  540.  264.  530.  435.  453.  750.  487.  624.  471.  318.  766.  660.
  470.  720.  577.  380.  434.  866.  495.  564.  312.  625.  680.  678.
  726.  532.  216.  303.  789.  511.  616.  521.  451. 1166.  252.  497.
  682.  666.  786.  795.  856.  473.  398.  500.  349.  454.  644.  299.
  210.  431.  438.  675.  968.  721.  336.  810.  494.  457.  818.  463.
  604.  389.  538.  520.  309.  429.  673.  884.  868.  492.  413.  924.
 1053.  439.  671.  338.  573.  732.  505.  575.  626.  898.  529.  685.
  281.  539.  418.  588.  282.  375.  683.  843.  552.  870.  888.  746.
  708.  513. 1025.  656.  872.  292.  441.  189.  880.  676.  301.  474.
  706.  617.  445.  200.  592.  566.  514.  296.  244.  610.  834.  639.
  501.  846.  560.  596.  600.  373.  947.  350.  396.  864.  304.  784.
  696.  569.  628.  550.  493.  578.  198.  422.  228.  526.  525.  908.
  499.  508.  694.  874.  164.  402.  515.  286.  603.  900.  583.  889.
  858.  502.  392.  403.  527.  765.  367.  426.  615.  871.  570.  406.
  590.  612.  650. 1390.  275.  452.  842.  816.  621.  544.  486.  230.
  261.  531.  393.  774.  749.  364.  627.  260.  256.  478.  442.  562.
  512.  839.  330.  711. 1134.  416.  779.  702.  567.  832.  326.  551.
  606.  739.  408.  475.  704.  983.  768.  632.  541.  320.  800.  831.
  554.  878.  752.  614.  481.  496.  423.  841.  895.  412.  865.  630.
  605.  602.  618.  444.  397.  455.  409.  820. 1020.  598.  857.  595.
  433.  776. 1220.  458.  613.  456.  436.  812.  686.  611.  425.  343.
  479.  619.  902.  574.  523.  414.  738.  354.  483.  327.  756.  690.
  284.  833.  601.  533.  522.  788.  555.  689.  796.  808.  510.  255.
  424.  305.  368.  824.  328.  160.  437.  665.  290.  912.  905.  542.
  716.  586.  467.  582. 1248. 1043.  254.  712.  719.  862.  928.  782.
  466.  714. 1052.  225.  234.  324.  306.  830.  807.  358.  186.  693.
  482.  813.  995.  757. 1356.  459.  701.  322.  315.  668.  404.  543.
  954.  850.  477.  276.  518. 1014.  753. 1418.  213.  844.  860.  748.
  248.  287.  825.  647.  342.  770.  663.  377.  804.  936.  722.  208.
  662.  754.  622.  620.  370. 1069.  372.  923.  192.  730.  751.  958.
  962.  762.  713.  535.  517.  263.  780.  363.  365.  231.  591.  209.
 1017.  580.  399.  741.  253.  581.  345.  896.  932.  640.  927.  700.
  886.  949.  649.  394.  658.  815.  623.  972.  984.  692.  845.  559.
  465.  524.  561.  549.  907.  162.  357.  207. 1184.  316.  226.  340.
  266. 1138.  904. 1231.  195.  313.  215.  307.  295.  351.  885.  920.
  698.  557.  489. 1314.  787. 1150. 1003.  944.  428.  687.  938.  783.
  851.  545.  469.  464.  267. 1488.  401.  311.  828.  869.  355.  249.
 1348.  811.  725.  715.  814.  369.  599.  344.  356.  185.  892.  257.
  729. 1110.  724.  585.  488. 1040. 1174.  728.  916.  876.  631.  925.
  806.  933. 1092.  859.  744. 1105.  310.  293.  371. 1200.  184.  374.
  331.  224.  217.  323.  638.  332.  674.  747.  242.  597.  579. 1154.
   nan  100.  571. 1041.  963.  443.  773.  485. 1085.  899.  959.  803.
  760.  584.  449.  688.  568.  353.  791. 1008.  378.  258.  848.  317.
  646.  265.  609.  272.]

In [749]:
valores_unicos_qual_garagem = df['QualidadeGaragem'].unique()
contagem_valores_qual_garagem = df['QualidadeGaragem'].value_counts(dropna=False)
print(contagem_valores_qual_garagem)
print(valores_unicos_qual_garagem)

valores_unicos_cond_garagem = df['CondicaoGaragem'].unique()
contagem_valores_cond_garagem = df['CondicaoGaragem'].value_counts(dropna=False)
print(contagem_valores_cond_garagem)
print(valores_unicos_cond_garagem)

QualidadeGaragem
TA     2604
NaN     159
Fa      124
Gd       24
Po        5
Ex        3
Name: count, dtype: int64
['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
CondicaoGaragem
TA     2654
NaN     159
Fa       74
Gd       15
Po       14
Ex        3
Name: count, dtype: int64
['TA' 'Fa' nan 'Gd' 'Po' 'Ex']

In [750]:
# Substitua 'df' pelo nome real do seu DataFrame
df['AnoConstrucaoGaragem'] = df['AnoConstrucaoGaragem'].fillna(0)
df['TipoGaragem'] = df['TipoGaragem'].fillna(0)
df['AcabamentoGaragem'] = df['AcabamentoGaragem'].fillna(0)
df['QualidadeGaragem'] = df['QualidadeGaragem'].fillna(0)
df['CondicaoGaragem'] = df['CondicaoGaragem'].fillna(0)

In [751]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_verificar_nan = ['TipoGaragem', 'AnoConstrucaoGaragem', 'AcabamentoGaragem', 'CarrosGaragem', 'AreaGaragem', 'QualidadeGaragem', 'CondicaoGaragem']

# Verificar e contar NaN em cada coluna usada para criar 'StatusGaragem'
for coluna in colunas_verificar_nan:
    quantidade_nan = df[coluna].isna().sum()
    print(f"A coluna {coluna} tem {quantidade_nan} valores NaN.")

A coluna TipoGaragem tem 0 valores NaN.
A coluna AnoConstrucaoGaragem tem 0 valores NaN.
A coluna AcabamentoGaragem tem 0 valores NaN.
A coluna CarrosGaragem tem 1 valores NaN.
A coluna AreaGaragem tem 1 valores NaN.
A coluna QualidadeGaragem tem 0 valores NaN.
A coluna CondicaoGaragem tem 0 valores NaN.

In [752]:
# Substitua 'df' pelo nome real do seu DataFrame
df['StatusGaragem'] = (
    df['TipoGaragem'].astype(str) + '_' +
    df['AnoConstrucaoGaragem'].astype(str) + '_' +
    df['AcabamentoGaragem'].astype(str) + '_' +
    df['CarrosGaragem'].astype(str) + '_' +
    df['AreaGaragem'].astype(str) + '_' +
    df['QualidadeGaragem'].astype(str) + '_' +
    df['CondicaoGaragem'].astype(str)
)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_garagem = df['StatusGaragem'].value_counts(dropna=False)
print("Contagem de valores para StatusGaragem:")
print(contagem_valores_status_garagem)

valores_unicos_status_garagem = df['StatusGaragem'].unique()
print("\nValores únicos para StatusGaragem:")
print(valores_unicos_status_garagem)

# Exclua as colunas originais associadas à garagem
df = df.drop(['TipoGaragem', 'AnoConstrucaoGaragem', 'AcabamentoGaragem', 'CarrosGaragem', 'AreaGaragem', 'QualidadeGaragem', 'CondicaoGaragem'], axis=1)

# Exiba as primeiras linhas do DataFrame com a nova coluna
print("\nDataFrame após a criação de StatusGaragem e exclusão das colunas originais:")
print(df.head())

Contagem de valores para StatusGaragem:
StatusGaragem
0_0.0_0_0.0_0.0_0_0                  157
Detchd_1973.0_Unf_1.0_264.0_TA_TA      8
Attchd_2003.0_Fin_2.0_420.0_TA_TA      7
Detchd_2000.0_Unf_2.0_440.0_TA_TA      7
Detchd_1940.0_Unf_1.0_240.0_TA_TA      7
                                    ...
Detchd_1977.0_Fin_2.0_576.0_TA_TA      1
Attchd_1946.0_Unf_2.0_492.0_TA_TA      1
Attchd_1969.0_RFn_2.0_530.0_TA_TA      1
Detchd_1974.0_Fin_1.0_396.0_TA_TA      1
Attchd_1993.0_Fin_3.0_650.0_TA_TA      1
Name: count, Length: 2437, dtype: int64

Valores únicos para StatusGaragem:
['Attchd_2003.0_RFn_2.0_548.0_TA_TA' 'Attchd_1976.0_RFn_2.0_460.0_TA_TA'
 'Attchd_2001.0_RFn_2.0_608.0_TA_TA' ...
 'Attchd_1969.0_RFn_1.0_336.0_TA_TA' 'CarPort_1970.0_Unf_1.0_286.0_TA_TA'
 'Attchd_1993.0_Fin_3.0_650.0_TA_TA']

DataFrame após a criação de StatusGaragem e exclusão das colunas originais:
   ClasseDeConstrução Zoneamento  FrenteLote  AreaLote   Rua Viela  \
0                  60         RL        65.0      8450  Pave   NaN
1                  20         RL        80.0      9600  Pave   NaN
2                  60         RL        68.0     11250  Pave   NaN
3                  70         RL        60.0      9550  Pave   NaN
4                  60         RL        84.0     14260  Pave   NaN

  FormatoLote ContornoTerreno Utilidades ConfigLote  ... Cerca RecursoDiverso  \
0         Reg             Lvl     AllPub     Inside  ...   NaN            NaN
1         Reg             Lvl     AllPub        FR2  ...   NaN            NaN
2         IR1             Lvl     AllPub     Inside  ...   NaN            NaN
3         IR1             Lvl     AllPub     Corner  ...   NaN            NaN
4         IR1             Lvl     AllPub        FR2  ...   NaN            NaN

  ValorRecursoDiverso MesVenda AnoVenda TipoVenda  CondicaoVenda  SalePrice  \
0                   0        2     2008        WD         Normal   208500.0
1                   0        5     2007        WD         Normal   181500.0
2                   0        9     2008        WD         Normal   223500.0
3                   0        2     2006        WD        Abnorml   140000.0
4                   0       12     2008        WD         Normal   250000.0

   StatusPiscina_Cluster                      StatusGaragem
0                    0_0  Attchd_2003.0_RFn_2.0_548.0_TA_TA
1                    0_0  Attchd_1976.0_RFn_2.0_460.0_TA_TA
2                    0_0  Attchd_2001.0_RFn_2.0_608.0_TA_TA
3                    0_0  Detchd_1998.0_Unf_3.0_642.0_TA_TA
4                    0_0  Attchd_2000.0_RFn_3.0_836.0_TA_TA

[5 rows x 73 columns]

In [753]:
from sklearn.cluster import KMeans

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento1 = 'StatusGaragem'
num_clusters = 30  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento1 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento1].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_garagem = df['StatusGaragem_Cluster'].value_counts(dropna=False)
print("Contagem de valores para StatusGaragem_Cluster:")
print(contagem_valores_status_garagem)

valores_unicos_status_garagem = df['StatusGaragem_Cluster'].unique()
print("\nValores únicos para StatusGaragem_Cluster:")
print(valores_unicos_status_garagem)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para StatusGaragem_Cluster:
StatusGaragem_Cluster
10    440
8     284
9     271
5     228
23    218
16    199
4     159
26    133
12    120
13    115
15     96
6      68
11     65
24     58
28     50
17     49
18     45
19     36
20     33
25     32
27     29
22     29
3      28
1      26
21     22
29     22
14     21
7      17
2      14
0      12
Name: count, dtype: int64

Valores únicos para StatusGaragem_Cluster:
[10  2 13 23  1 24 12  9 15  6  8  5 28 11 18 29  4 26 16  3 25 20 17 22
 19 27  7 21 14  0]

In [754]:
valores_unicos_deck_garagem = df['DeckMadeiraSF'].unique()
contagem_valores_deck_garagem = df['DeckMadeiraSF'].value_counts(dropna=False)
print(contagem_valores_deck_garagem)
print(valores_unicos_deck_garagem)

DeckMadeiraSF
0      1523
100      74
192      70
144      61
168      56
       ...
436       1
448       1
361       1
362       1
530       1
Name: count, Length: 379, dtype: int64
[   0  298  192   40  255  235   90  147  140  160   48  240  171  100
  406  222  288   49  203  113  392  145  196  168  112  106  857  115
  120   12  576  301  144  300   74  127  232  158  352  182  180  166
  224   80  367   53  188  105   24   98  276  200  409  239  400  476
  178  574  237  210  441  116  280  104   87  132  238  149  355   60
  139  108  351  209  216  248  143  365  370   58  197  263  123  138
  333  250  292   95  262   81  289  124  172  110  208  468  256  302
  190  340  233  184  201  142  122  155  670  135  495  536  306   64
  364  353   66  159  146  296  125   44  215  264   88   89   96  414
  519  206  141  260  324  156  220   38  261  126   85  466  270   78
  169  320  268   72  349   42   35  326  382  161  179  103  253  148
  335  176  390  328  312  185  269  195   57  236  517  304  198  426
   28  316  322  307  257  219  416  344  380   68  114  327  165  187
  181   92  228  245  503  315  241  303  133  403   36   52  265  207
  150  290  486  278   70  418  234   26  342   97  272  121  243  511
  154  164  173  384  202   56  321   86  194  421  305  117  550  509
  153  394  371   63  252  136  186  170  474  214  199  728  436   55
  431  448  361  362  162  229  439  379  356   84  635  325   33  212
  314  242  294   30  128   45  177  227  218  309  404  500  668  402
  283  183  175  586  295   32  366  736  393  360  157  483  275   23
  277  657   51   54  221  226  496  336  450   71  331  375  174   22
  287  129  225  319   99  230  231  297  205  462  502  501  266  244
  189  131   73  329  279  467  119  308  152   16  411  358  385   20
   25  490   76  204  311  102   50  424  339  211  259  134  213  318
  428  282  167  407  130  460  286  193  455  284  285   14  521  646
  386  405  546  118  291  274 1424  690  330  246  444  354  247  870
  432    4  641   94  191   75  631  345  520   27   77  684  453  413
  530]

In [755]:
valores_unicos_varab_garagem = df['VarandaAbertaSF'].unique()
contagem_valores_varab_garagem = df['VarandaAbertaSF'].value_counts(dropna=False)
print(contagem_valores_varab_garagem)
print(valores_unicos_varab_garagem)

VarandaAbertaSF
0      1298
36       52
48       51
40       44
32       38
       ...
229       1
205       1
263       1
213       1
225       1
Name: count, Length: 252, dtype: int64
[ 61   0  42  35  84  30  57 204   4  21  33 213 112 102 154 159 110  90
  56  32  50 258  54  65  38  47  64  52 138 104  82  43 146  75  72  70
  49  11  36 151  29  94 101 199  99 234 162  63  68  46  45 122 184 120
  20  24 130 205 108  80  66  48  25  96 111 106  40 114   8 136 132  62
 228  60 238 260  27  74  16 198  26  83  34  55  22  98 172 119 208 105
 140 168  28  39 148  12  51 150 117 250  10  81  44 144 175 195 128  76
  17  59 214 121  53 231 134 192 123  78 187  85 133 176 113 137 125 523
 100 285  88 406 155  73 182 502 274 158 142 243 235 312 124 267 265  87
 288  23 152 341 116 160 174 247 291  18 170 156 166 129 418 240  77 364
 188 207  67  69 131 191  41 118 252 189 282 135  95 224 169 319  58  93
 244 185 200  92 180 263 304 229 103 211 287 292 241 547  91  86 262 210
 141  15 126 236 278 197 273 190 183 165 226 178 177 254 215 222 193 201
 173 153 251 230 299 365 139 216  89 372 217 276 164 368 203 127 256 194
 324 171 570 484 742 444 266  97  37 246  31 382   6 115 253 245 107 225]

In [756]:
valores_unicos_varfec_garagem = df['VarandaFechadaSF'].unique()
contagem_valores_varfec_garagem = df['VarandaFechadaSF'].value_counts(dropna=False)
print(contagem_valores_varfec_garagem)
print(valores_unicos_varfec_garagem)

VarandaFechadaSF
0      2460
112      22
96       13
144      11
192      10
       ...
214       1
220       1
19        1
174       1
23        1
Name: count, Length: 183, dtype: int64
[   0  272  228  205  176   87  172  102   37  144   64  114  202  128
  156   44   77  192  140  180  183   39  184   40  552   30  126   96
   60  150  120  112  252   52  224  234  244  268  137   24  108  294
  177  218  242   91  160  130  169  105   34  248  236   32   80  115
  291  116  158  210   36  200   84  148  136  240   54  100  189  293
  164  216  239   67   90   56  129   98  143   70  386  154  185  134
  196  264  275  230  254   68  194  318   48   94  138  226  174   19
  170  220  214  280  190  330  208  145  259   81   42  123  162  286
  168   20  301  198  221  212   50   99  186  113  135  334  246   18
   41   35  364   45   86  265  222  209  260  203  432   25  238   51
  213  288  211   55   57   78   72  368  165   92   16   66  109  139
  219  101  117  204  122  231  121  207  249  290  175   26   88 1012
   43  584  133  324  161   75  167   28  104  296  256  225  429  132
   23]

In [757]:
valores_unicos_var3_garagem = df['Varanda3EstacoesSF'].unique()
contagem_valores_var3_garagem = df['Varanda3EstacoesSF'].value_counts(dropna=False)
print(contagem_valores_var3_garagem)
print(valores_unicos_var3_garagem)

Varanda3EstacoesSF
0      2882
168       3
153       3
144       2
216       2
180       2
140       1
86        1
176       1
219       1
120       1
174       1
150       1
360       1
225       1
255       1
224       1
304       1
290       1
407       1
96        1
320       1
23        1
162       1
182       1
130       1
196       1
245       1
238       1
508       1
323       1
Name: count, dtype: int64
[  0 320 407 130 180 168 140 508 238 245 196 144 182 162  23 216  96 153
 290 304 224 255 225 360 150 174 120 219 176  86 323]

In [758]:
valores_unicos_vartel_garagem = df['VarandaTelaSF'].unique()
contagem_valores_vartel_garagem = df['VarandaTelaSF'].value_counts(dropna=False)
print(contagem_valores_vartel_garagem)
print(valores_unicos_vartel_garagem)

VarandaTelaSF
0      2663
144      13
192      11
168      10
120       9
       ...
233       1
190       1
265       1
222       1
104       1
Name: count, Length: 121, dtype: int64
[  0 176 198 291 252  99 184 168 130 142 192 410 224 266 170 154 153 144
 128 259 160 271 234 374 185 182  90 396 140 276 180 161 145 200 122  95
 120  60 126 189 260 147 385 287 156 100 216 210 197 204 225 152 175 312
 222 265 322 190 233  63  53 143 273 288 263  80 163 116 480 178 440 155
 220 119 165  40 256 240 148 166 108 490 196 121  92 342 255 111 112 231
 110 117 195 115 141 208  94 164  64 576 227 221 171 135 174 217 201 109
 150  84 228 138  88 280 123 264 270 162 348 113 104]

In [759]:
valores_unicos_ban = df['BanheirosPorao'].unique()
contagem_valores_ban = df['BanheirosPorao'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_ban)

BanheirosPorao
0.0    1705
1.0    1172
2.0      38
3.0       2
NaN       2
Name: count, dtype: int64
[ 1.  0.  2.  3. nan]

In [760]:
valores_unicos_banmeio = df['MeioBanheiroPorao'].unique()
contagem_valores_ban = df['MeioBanheiroPorao'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_banmeio)

MeioBanheiroPorao
0.0    2742
1.0     171
2.0       4
NaN       2
Name: count, dtype: int64
[ 0.  1.  2. nan]

In [761]:
valores_unicos_bancom = df['BanheirosCompletos'].unique()
contagem_valores_ban = df['BanheirosCompletos'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_bancom)

valores_unicos_banmeios = df['MeioBanheiros'].unique()
contagem_valores_ban = df['MeioBanheiros'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_banmeios)

BanheirosCompletos
2    1530
1    1309
3      64
0      12
4       4
Name: count, dtype: int64
[2 1 3 0 4]
MeioBanheiros
0    1834
1    1060
2      25
Name: count, dtype: int64
[1 0 2]

In [762]:
valores_unicos_qualpor= df['QualidadePorao'].unique()
contagem_valores_ban = df['QualidadePorao'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_qualpor)

valores_unicos_condpor = df['CondicaoPorao'].unique()
contagem_valores_ban = df['CondicaoPorao'].value_counts(dropna=False)
print(contagem_valores_ban)
print(valores_unicos_condpor)

QualidadePorao
TA     1283
Gd     1209
Ex      258
Fa       88
NaN      81
Name: count, dtype: int64
['Gd' 'TA' 'Ex' nan 'Fa']
CondicaoPorao
TA     2606
Gd      122
Fa      104
NaN      82
Po        5
Name: count, dtype: int64
['TA' 'Gd' nan 'Fa' 'Po']

In [763]:
valores_unicos_expo= df['ExposicaoPorao'].unique()
contagem_valores_expo = df['ExposicaoPorao'].value_counts(dropna=False)
print(contagem_valores_expo)
print(valores_unicos_expo)

valores_unicos_tip= df['TipoAcabamentoPorao1'].unique()
contagem_valores_tip = df['TipoAcabamentoPorao1'].value_counts(dropna=False)
print(contagem_valores_tip)
print(valores_unicos_tip)

ExposicaoPorao
No     1904
Av      418
Gd      276
Mn      239
NaN      82
Name: count, dtype: int64
['No' 'Gd' 'Mn' 'Av' nan]
TipoAcabamentoPorao1
Unf    851
GLQ    849
ALQ    429
Rec    288
BLQ    269
LwQ    154
NaN     79
Name: count, dtype: int64
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']

In [764]:
valores_unicos_areatot= df['AreaTotalPorao'].unique()
contagem_valores_areatot = df['AreaTotalPorao'].value_counts(dropna=False)
print(contagem_valores_areatot)
print(valores_unicos_areatot)

AreaTotalPorao
0.0       78
864.0     74
672.0     29
912.0     26
1040.0    25
          ..
1571.0     1
2633.0     1
757.0      1
873.0      1
1381.0     1
Name: count, Length: 1059, dtype: int64
[ 856. 1262.  920. ...  498.  432. 1381.]

In [765]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_verificar_nan = ['QualidadePorao', 'CondicaoPorao', 'ExposicaoPorao', 'TipoAcabamentoPorao1', 'TipoAcabamentoPorao2']

# Verificar e contar NaN em cada coluna usada para criar 'MediaPorao'
for coluna in colunas_verificar_nan:
    quantidade_nan = df[coluna].isna().sum()
    print(f"A coluna {coluna} tem {quantidade_nan} valores NaN.")

A coluna QualidadePorao tem 81 valores NaN.
A coluna CondicaoPorao tem 82 valores NaN.
A coluna ExposicaoPorao tem 82 valores NaN.
A coluna TipoAcabamentoPorao1 tem 79 valores NaN.
A coluna TipoAcabamentoPorao2 tem 80 valores NaN.

In [766]:
# Substitua 'df' pelo nome real do seu DataFrame
df['QualidadePorao'] = df['QualidadePorao'].fillna(0)
df['CondicaoPorao'] = df['CondicaoPorao'].fillna(0)
df['ExposicaoPorao'] = df['ExposicaoPorao'].fillna(0)
df['TipoAcabamentoPorao1'] = df['TipoAcabamentoPorao1'].fillna(0)
df['TipoAcabamentoPorao2'] = df['TipoAcabamentoPorao2'].fillna(0)

In [767]:
# Lista das colunas do porão
colunas_porao2 = ['QualidadePorao', 'CondicaoPorao', 'ExposicaoPorao', 'TipoAcabamentoPorao1', 'TipoAcabamentoPorao2' ]

# Criar uma nova coluna com a concatenação dos valores das colunas do porão
df['MediaPorao'] = df[colunas_porao2].astype(str).apply('_'.join, axis=1)

# Excluir colunas originais do porão
df = df.drop(colunas_porao2, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_media_porao = df['MediaPorao'].value_counts(dropna=False)
print("Contagem de valores para MediaPorao:")
print(contagem_valores_media_porao)

valores_unicos_media_porao = df['MediaPorao'].unique()
print("\nValores únicos para MediaPorao:")
print(valores_unicos_media_porao)

Contagem de valores para MediaPorao:
MediaPorao
TA_TA_No_Unf_Unf    304
Gd_TA_No_Unf_Unf    255
Gd_TA_No_GLQ_Unf    242
TA_TA_No_Rec_Unf    153
TA_TA_No_ALQ_Unf    150
                   ...
TA_TA_Gd_Rec_LwQ      1
Ex_TA_Mn_BLQ_GLQ      1
Gd_TA_Av_BLQ_ALQ      1
TA_Gd_Gd_ALQ_Rec      1
Gd_TA_Av_LwQ_Unf      1
Name: count, Length: 262, dtype: int64

Valores únicos para MediaPorao:
['Gd_TA_No_GLQ_Unf' 'Gd_TA_Gd_ALQ_Unf' 'Gd_TA_Mn_GLQ_Unf'
 'TA_Gd_No_ALQ_Unf' 'Gd_TA_Av_GLQ_Unf' 'Ex_TA_Av_GLQ_Unf'
 'Gd_TA_Mn_ALQ_BLQ' 'TA_TA_No_Unf_Unf' 'TA_TA_No_GLQ_Unf'
 'TA_TA_No_Rec_Unf' 'Ex_TA_No_GLQ_Unf' 'TA_TA_No_ALQ_Unf'
 'Gd_TA_Av_Unf_Unf' 'TA_TA_No_BLQ_Unf' '0_0_0_0_0' 'TA_TA_No_LwQ_Unf'
 'Ex_TA_Av_Unf_Unf' 'Gd_TA_No_Unf_Unf' 'TA_TA_Mn_Rec_ALQ'
 'TA_TA_Mn_BLQ_Rec' 'TA_TA_Gd_BLQ_Unf' 'Gd_TA_Av_ALQ_LwQ'
 'Gd_TA_Av_LwQ_BLQ' 'TA_TA_No_ALQ_BLQ' 'Gd_TA_Gd_LwQ_GLQ'
 'Ex_TA_Gd_GLQ_Unf' 'Ex_TA_Gd_Unf_Unf' 'TA_TA_Av_ALQ_Unf'
 'Gd_TA_No_ALQ_Unf' 'TA_Fa_No_Unf_Unf' 'Gd_Gd_Mn_GLQ_Unf'
 'Gd_TA_Gd_GLQ_Unf' 'Fa_TA_No_Unf_Unf' 'TA_TA_No_BLQ_GLQ'
 'Gd_TA_No_Rec_Unf' 'Ex_Gd_No_GLQ_Unf' 'TA_Fa_Mn_Rec_Unf'
 'Gd_Gd_No_ALQ_Unf' 'Gd_TA_Av_ALQ_Unf' 'TA_TA_Mn_ALQ_Unf'
 'Ex_TA_No_Unf_Unf' 'Gd_TA_No_BLQ_Unf' 'TA_Fa_No_Rec_Unf'
 'Gd_TA_Mn_ALQ_Rec' 'TA_TA_No_ALQ_LwQ' 'TA_TA_No_LwQ_BLQ'
 'TA_TA_Gd_ALQ_Unf' 'Gd_Fa_No_Unf_Unf' 'TA_TA_Av_GLQ_Unf'
 'TA_TA_No_Rec_BLQ' 'TA_TA_Av_BLQ_Unf' 'Gd_TA_Gd_BLQ_ALQ'
 'Gd_TA_Mn_BLQ_Unf' 'TA_TA_Mn_LwQ_Unf' 'TA_TA_No_ALQ_Rec'
 'TA_Gd_Gd_BLQ_Unf' 'Gd_Gd_No_GLQ_Rec' 'Gd_Fa_No_ALQ_LwQ'
 'TA_Gd_Av_ALQ_Unf' 'Fa_TA_No_LwQ_Unf' 'TA_TA_Mn_Unf_Unf'
 'Gd_Gd_No_Rec_Unf' 'TA_TA_No_GLQ_LwQ' 'Gd_TA_Mn_Unf_Unf'
 'TA_Gd_Av_LwQ_ALQ' 'TA_Fa_No_LwQ_Unf' 'Gd_TA_Gd_Rec_Unf'
 'Gd_TA_Gd_LwQ_ALQ' 'TA_TA_Gd_Rec_ALQ' 'Gd_Gd_Av_ALQ_Unf'
 'TA_TA_No_LwQ_ALQ' 'Gd_TA_No_GLQ_LwQ' 'TA_Gd_No_BLQ_Unf'
 'TA_TA_No_Rec_LwQ' 'TA_TA_Mn_BLQ_Unf' 'Gd_TA_Mn_Rec_Unf'
 'Gd_TA_Gd_ALQ_Rec' 'TA_Gd_No_LwQ_Unf' 'Ex_Gd_Av_Unf_Unf'
 'TA_TA_Gd_LwQ_ALQ' 'TA_TA_No_GLQ_Rec' 'Gd_TA_No_GLQ_0' 'TA_TA_Gd_ALQ_BLQ'
 'Gd_TA_Mn_ALQ_Unf' 'Gd_TA_No_Rec_BLQ' 'TA_Fa_Mn_LwQ_Rec'
 'Gd_Gd_No_ALQ_BLQ' 'TA_TA_Av_BLQ_Rec' 'Gd_TA_No_ALQ_LwQ'
 'TA_TA_No_BLQ_LwQ' 'Fa_Po_Gd_BLQ_Unf' 'Gd_Gd_No_Unf_Unf'
 'Fa_Fa_No_Unf_Unf' 'TA_Gd_No_Rec_BLQ' 'Ex_TA_No_ALQ_Unf'
 'TA_TA_Av_Rec_Unf' 'Fa_Po_No_Unf_Unf' 'Ex_Gd_No_Unf_Unf'
 'TA_TA_Mn_Rec_Unf' 'Gd_TA_No_BLQ_GLQ' 'Gd_Gd_Gd_GLQ_Unf'
 'Gd_TA_No_LwQ_Unf' 'Gd_TA_Av_GLQ_ALQ' 'TA_Fa_Mn_Unf_Unf'
 'Ex_TA_Gd_GLQ_ALQ' 'Gd_TA_Gd_BLQ_Unf' 'TA_Gd_Gd_GLQ_Unf'
 'Gd_TA_Av_GLQ_BLQ' 'Fa_TA_No_Rec_Unf' 'TA_Fa_No_BLQ_Unf'
 'TA_TA_No_BLQ_Rec' 'TA_TA_No_ALQ_GLQ' 'Fa_Fa_Mn_Unf_Unf'
 'Ex_TA_No_LwQ_GLQ' 'Gd_TA_Av_GLQ_LwQ' 'Gd_Gd_Av_GLQ_Unf'
 'Gd_Gd_No_GLQ_LwQ' 'TA_TA_No_LwQ_Rec' 'Gd_TA_Gd_Unf_Unf'
 'TA_TA_Av_LwQ_ALQ' 'TA_Gd_Mn_Rec_ALQ' 'TA_TA_Gd_GLQ_Unf'
 'TA_Gd_No_GLQ_Unf' 'Gd_TA_Mn_ALQ_LwQ' 'Gd_TA_No_LwQ_GLQ'
 'Ex_TA_Mn_GLQ_Unf' 'Gd_TA_Av_LwQ_GLQ' 'TA_TA_Av_BLQ_LwQ'
 'Gd_TA_Av_Rec_Unf' 'TA_TA_Gd_GLQ_Rec' 'Gd_TA_Av_BLQ_GLQ'
 'Gd_TA_Av_BLQ_Rec' 'Gd_TA_No_LwQ_Rec' 'Ex_TA_Mn_Unf_Unf'
 'Gd_TA_No_BLQ_BLQ' 'Gd_TA_Mn_GLQ_LwQ' 'Ex_Gd_Mn_LwQ_ALQ'
 'TA_TA_No_GLQ_BLQ' 'TA_TA_Mn_GLQ_Unf' 'TA_Gd_No_GLQ_ALQ'
 'Gd_TA_Av_LwQ_ALQ' 'Gd_Gd_Av_LwQ_GLQ' 'Fa_Fa_No_LwQ_Unf'
 'TA_TA_Av_ALQ_BLQ' 'TA_Fa_Gd_LwQ_Unf' 'TA_TA_Av_ALQ_Rec'
 'TA_TA_Av_Unf_Unf' 'TA_Gd_Gd_LwQ_ALQ' 'TA_TA_Gd_Rec_Unf'
 'TA_TA_Mn_ALQ_Rec' 'Gd_Gd_Gd_GLQ_LwQ' 'Ex_Gd_No_ALQ_Unf'
 'Gd_TA_Mn_LwQ_Unf' 'TA_Gd_Gd_ALQ_Rec' 'Gd_TA_Av_BLQ_ALQ'
 'Ex_TA_Mn_BLQ_GLQ' 'Gd_TA_No_ALQ_BLQ' 'Gd_Gd_No_GLQ_Unf'
 'Gd_TA_No_BLQ_LwQ' 'Fa_TA_Mn_Unf_Unf' 'TA_TA_Gd_Rec_LwQ'
 'Gd_TA_0_Unf_Unf' 'TA_TA_Av_ALQ_LwQ' 'TA_TA_Gd_BLQ_Rec'
 'TA_TA_Mn_Rec_LwQ' 'TA_TA_Gd_GLQ_LwQ' 'Fa_TA_No_ALQ_Unf'
 'Fa_TA_Mn_BLQ_Unf' 'TA_Gd_Av_GLQ_Unf' 'Gd_TA_No_GLQ_Rec'
 'Gd_TA_Gd_GLQ_LwQ' 'Ex_Gd_Gd_GLQ_Unf' 'Gd_TA_Mn_LwQ_Rec'
 'TA_TA_No_GLQ_ALQ' 'Fa_TA_Mn_ALQ_LwQ' 'Gd_Gd_Av_Unf_Unf'
 'Ex_TA_Av_ALQ_Unf' 'Gd_Gd_Gd_Unf_Unf' 'TA_TA_Gd_LwQ_Rec'
 'Gd_TA_No_ALQ_Rec' 'TA_TA_Mn_GLQ_Rec' 'Gd_TA_No_GLQ_BLQ'
 'TA_TA_Gd_BLQ_GLQ' 'Gd_TA_No_GLQ_ALQ' 'Ex_Po_No_GLQ_Unf'
 'TA_TA_Gd_BLQ_LwQ' 'TA_Gd_No_BLQ_LwQ' 'Fa_Fa_No_ALQ_Unf'
 'TA_Gd_No_Rec_ALQ' 'TA_TA_Mn_BLQ_LwQ' 'Fa_Gd_No_Unf_Unf'
 'Gd_Fa_Av_GLQ_Unf' 'Gd_TA_Mn_Rec_GLQ' 'Fa_Fa_No_Rec_Unf'
 'Ex_Gd_Av_GLQ_Unf' 'Gd_TA_Mn_GLQ_Rec' 'Gd_TA_Gd_BLQ_Rec'
 'Gd_Gd_Gd_ALQ_Rec' 'Gd_Gd_Gd_GLQ_ALQ' 'TA_TA_Mn_GLQ_LwQ'
 'TA_TA_No_Rec_ALQ' 'TA_Fa_No_BLQ_Rec' 'TA_Gd_No_ALQ_BLQ'
 'Gd_TA_Av_GLQ_Rec' 'Fa_Gd_Mn_Unf_Unf' 'Gd_Fa_Av_BLQ_Rec'
 'TA_Gd_No_Unf_Unf' 'Gd_TA_Mn_GLQ_ALQ' 'Gd_TA_Av_Rec_GLQ'
 'Fa_TA_Mn_Rec_Unf' 'TA_TA_Av_LwQ_BLQ' 'Gd_TA_Gd_GLQ_ALQ'
 'Gd_TA_No_Rec_ALQ' 'Ex_TA_Gd_GLQ_BLQ' 'TA_Gd_No_BLQ_ALQ'
 'TA_Fa_Mn_ALQ_Unf' 'Gd_TA_No_LwQ_ALQ' 'Gd_TA_Mn_BLQ_GLQ'
 'Gd_0_Mn_GLQ_Rec' 'Gd_Gd_Gd_LwQ_ALQ' 'Gd_Gd_Gd_ALQ_Unf' 'TA_0_No_BLQ_Unf'
 'TA_TA_No_Rec_GLQ' '0_Fa_No_Unf_Unf' '0_TA_No_Unf_Unf' 'Gd_Gd_Av_GLQ_Rec'
 'TA_TA_Mn_ALQ_BLQ' 'Gd_TA_Gd_GLQ_Rec' 'Fa_TA_Gd_ALQ_Unf'
 'Gd_TA_Av_BLQ_Unf' 'TA_TA_No_BLQ_ALQ' 'TA_TA_Mn_ALQ_LwQ'
 'TA_TA_Av_Rec_ALQ' 'Fa_TA_No_LwQ_Rec' 'Gd_Gd_No_BLQ_Unf'
 'Fa_TA_No_Rec_ALQ' 'TA_TA_Gd_LwQ_BLQ' 'TA_TA_Av_Rec_BLQ'
 'TA_TA_Mn_Rec_BLQ' 'TA_Gd_Mn_BLQ_Unf' 'Gd_Fa_No_LwQ_Unf'
 'TA_TA_No_LwQ_GLQ' 'Gd_Gd_Gd_LwQ_GLQ' 'TA_0_Av_ALQ_Unf'
 'Gd_TA_Av_Rec_BLQ' 'Gd_TA_Gd_BLQ_GLQ' 'TA_Gd_Mn_LwQ_Rec'
 'TA_Po_No_Unf_Unf' 'TA_TA_Av_Rec_GLQ' 'Ex_TA_Av_Rec_GLQ'
 'TA_Fa_No_ALQ_Unf' 'Ex_TA_Gd_Rec_GLQ' 'Gd_TA_Gd_GLQ_BLQ'
 'Gd_TA_Gd_ALQ_BLQ' 'Gd_Fa_Mn_ALQ_Rec' 'Gd_Gd_Mn_GLQ_LwQ'
 'Gd_TA_Av_Rec_ALQ' 'TA_TA_Gd_ALQ_Rec' 'TA_Gd_Av_ALQ_LwQ'
 'Gd_Gd_Mn_Unf_Unf' 'TA_Fa_Av_LwQ_Unf' 'Gd_TA_Av_LwQ_Unf']

In [768]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento4 = 'MediaPorao'
num_clusters = 20  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento4 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento4].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_porao = df['MediaPorao_Cluster'].value_counts(dropna=False)
print("Contagem de valores para MediaPorao_Cluster:")
print(contagem_valores_status_porao)

valores_unicos_status_porao = df['MediaPorao_Cluster'].unique()
print("\nValores únicos para MediaPorao_Cluster:")
print(valores_unicos_status_porao)

Contagem de valores para MediaPorao_Cluster:
MediaPorao_Cluster
1     379
5     317
0     264
4     206
6     200
3     199
12    176
2     151
8     130
16    118
17    112
18     94
11     84
9      83
10     80
7      79
14     66
19     65
13     63
15     53
Name: count, dtype: int64

Valores únicos para MediaPorao_Cluster:
[ 0 17  2  4  9 13  1 11  6  3 12  7  5 15 19 14 18 10 16  8]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [769]:
valores_unicos_viz=df['Vizinhanca'].unique()
contagem_valores_viz = df['Vizinhanca'].value_counts(dropna=False)
print(contagem_valores_viz)
print(valores_unicos_viz)

Vizinhanca
NAmes      443
CollgCr    267
OldTown    239
Edwards    194
Somerst    182
NridgHt    166
Gilbert    165
Sawyer     151
NWAmes     131
SawyerW    125
Mitchel    114
BrkSide    108
Crawfor    103
IDOTRR      93
Timber      72
NoRidge     71
StoneBr     51
SWISU       48
ClearCr     44
MeadowV     37
BrDale      30
Blmngtn     28
Veenker     24
NPkVill     23
Blueste     10
Name: count, dtype: int64
['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']

In [770]:
valores_unicos_cond1= df['Condicao1'].unique()
contagem_valores_cond1 = df['Condicao1'].value_counts(dropna=False)
print(contagem_valores_cond1)
print(valores_unicos_cond1)

valores_unicos_cond2= df['Condicao2'].unique()
contagem_valores_cond2 = df['Condicao2'].value_counts(dropna=False)
print(contagem_valores_cond2)
print(valores_unicos_cond2)

Condicao1
Norm      2511
Feedr      164
Artery      92
RRAn        50
PosN        39
RRAe        28
PosA        20
RRNn         9
RRNe         6
Name: count, dtype: int64
['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
Condicao2
Norm      2889
Feedr       13
Artery       5
PosN         4
PosA         4
RRNn         2
RRAn         1
RRAe         1
Name: count, dtype: int64
['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']

In [771]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_verificar_nan = ['Vizinhanca', 'Condicao1', 'Condicao2']

# Verificar e contar NaN em cada coluna usada para criar 'Local'
for coluna in colunas_verificar_nan:
    quantidade_nan = df[coluna].isna().sum()
    print(f"A coluna {coluna} tem {quantidade_nan} valores NaN.")

A coluna Vizinhanca tem 0 valores NaN.
A coluna Condicao1 tem 0 valores NaN.
A coluna Condicao2 tem 0 valores NaN.

In [772]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_local1 = ['Vizinhanca', 'Condicao1', 'Condicao2']

# Criar uma nova coluna com a combinação das colunas de local
df['AgrupamentoLocal'] = df[colunas_local1].astype(str).apply('_'.join, axis=1)

# Excluir colunas originais do porão
df = df.drop(colunas_local1, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_agrupamento_local = df['AgrupamentoLocal'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoLocal:")
print(contagem_valores_agrupamento_local)

valores_unicos_agrupamento_local = df['AgrupamentoLocal'].unique()
print("\nValores únicos para AgrupamentoLocal:")
print(valores_unicos_agrupamento_local)

Contagem de valores para AgrupamentoLocal:
AgrupamentoLocal
NAmes_Norm_Norm       369
CollgCr_Norm_Norm     259
OldTown_Norm_Norm     184
Edwards_Norm_Norm     174
NridgHt_Norm_Norm     161
                     ...
NridgHt_PosN_PosN       1
Sawyer_PosN_Norm        1
NWAmes_Feedr_RRAn       1
Crawfor_PosN_Norm       1
Sawyer_Feedr_Feedr      1
Name: count, Length: 100, dtype: int64

Valores únicos para AgrupamentoLocal:
['CollgCr_Norm_Norm' 'Veenker_Feedr_Norm' 'Crawfor_Norm_Norm'
 'NoRidge_Norm_Norm' 'Mitchel_Norm_Norm' 'Somerst_Norm_Norm'
 'NWAmes_PosN_Norm' 'OldTown_Artery_Norm' 'BrkSide_Artery_Artery'
 'Sawyer_Norm_Norm' 'NridgHt_Norm_Norm' 'NAmes_Norm_Norm'
 'BrkSide_Norm_Norm' 'SawyerW_RRAe_Norm' 'IDOTRR_Norm_Norm'
 'MeadowV_Norm_Norm' 'BrkSide_Feedr_RRNn' 'IDOTRR_Feedr_Norm'
 'Edwards_Norm_Norm' 'Timber_Norm_Norm' 'SawyerW_Norm_Norm'
 'OldTown_Norm_Norm' 'Gilbert_Norm_Norm' 'IDOTRR_RRNn_Norm'
 'Veenker_Norm_Norm' 'StoneBr_Norm_Norm' 'OldTown_RRAn_Feedr'
 'NAmes_PosA_Norm' 'ClearCr_Norm_Norm' 'IDOTRR_Feedr_Feedr'
 'NWAmes_Norm_Norm' 'IDOTRR_Artery_Norm' 'NPkVill_Norm_Norm'
 'OldTown_Feedr_Norm' 'NAmes_PosN_Norm' 'NAmes_Artery_Norm'
 'Sawyer_RRAe_Norm' 'Edwards_Artery_Norm' 'BrkSide_RRAn_Feedr'
 'SawyerW_Feedr_Norm' 'Blmngtn_Norm_Norm' 'NWAmes_RRAn_Norm'
 'BrDale_Norm_Norm' 'Sawyer_Feedr_Norm' 'SawyerW_RRNe_Norm'
 'SWISU_Norm_Norm' 'NAmes_Feedr_Norm' 'Somerst_Feedr_Norm'
 'BrkSide_RRAn_Norm' 'NWAmes_PosA_Norm' 'IDOTRR_RRAe_Norm'
 'BrkSide_PosN_Norm' 'ClearCr_Feedr_Norm' 'Gilbert_RRAn_Norm'
 'Edwards_Feedr_Norm' 'BrkSide_Feedr_Norm' 'Crawfor_Feedr_Norm'
 'Mitchel_Artery_Norm' 'CollgCr_PosN_Norm' 'Somerst_RRAn_Norm'
 'SWISU_Feedr_Norm' 'Edwards_PosN_PosN' 'BrkSide_RRNn_Feedr'
 'OldTown_Feedr_RRNn' 'OldTown_Artery_PosA' 'Blueste_Norm_Norm'
 'Mitchel_Feedr_Norm' 'NWAmes_Feedr_Norm' 'NridgHt_PosN_PosN'
 'Gilbert_Feedr_Norm' 'Sawyer_PosN_Norm' 'Somerst_RRNn_Norm'
 'Gilbert_RRNn_Norm' 'NWAmes_Feedr_RRAn' 'Crawfor_PosN_Norm'
 'OldTown_Artery_Artery' 'Sawyer_Feedr_RRAe' 'Crawfor_PosA_Norm'
 'NridgHt_PosN_Norm' 'Sawyer_RRNe_Norm' 'BrkSide_Feedr_Feedr'
 'SWISU_Artery_Norm' 'Crawfor_Artery_Norm' 'NWAmes_RRNn_Norm'
 'NridgHt_PosA_PosA' 'Somerst_PosN_Norm' 'Somerst_PosN_PosN'
 'CollgCr_Feedr_Norm' 'StoneBr_PosN_PosN' 'BrkSide_RRAn_Artery'
 'IDOTRR_RRNe_Norm' 'Sawyer_PosA_Norm' 'Mitchel_Feedr_Artery'
 'StoneBr_PosN_Norm' 'StoneBr_PosA_PosA' 'BrkSide_RRNn_Artery'
 'Timber_PosA_PosA' 'NWAmes_RRAn_Feedr' 'NAmes_RRAn_Norm'
 'Sawyer_Feedr_Feedr']

In [773]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento5 = 'AgrupamentoLocal'
num_clusters = 30  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento5 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento5].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_local = df['AgrupamentoLocal_Cluster'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoLocal_Cluster:")
print(contagem_valores_status_local)

valores_unicos_status_local = df['AgrupamentoLocal_Cluster'].unique()
print("\nValores únicos para AgrupamentoLocal_Cluster:")
print(valores_unicos_status_local)

Contagem de valores para AgrupamentoLocal_Cluster:
AgrupamentoLocal_Cluster
1     383
2     267
3     197
0     194
4     182
5     166
6     148
8     131
13    125
11    114
10    108
14    104
9     103
12     93
15     72
16     71
19     58
17     51
21     44
24     42
18     37
28     32
27     31
22     30
26     29
23     28
25     24
20     23
29     17
7      15
Name: count, dtype: int64

Valores únicos para AgrupamentoLocal_Cluster:
[ 2 25  9 16 11  4  8 24 10 14  5  1 13 12 18  0 15  3  6 17 21 20 26  7
 23 22 28 19 27 29]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [774]:
valores_unicos_aque= df['Aquecimento'].unique()
contagem_valores_aque = df['Aquecimento'].value_counts(dropna=False)
print(contagem_valores_aque)
print(valores_unicos_aque)

valores_unicos_qual= df['QualidadeAquecimento'].unique()
contagem_valores_qual = df['QualidadeAquecimento'].value_counts(dropna=False)
print(contagem_valores_qual)
print(valores_unicos_qual)

Aquecimento
GasA     2874
GasW       27
Grav        9
Wall        6
OthW        2
Floor       1
Name: count, dtype: int64
['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
QualidadeAquecimento
Ex    1493
TA     857
Gd     474
Fa      92
Po       3
Name: count, dtype: int64
['Ex' 'Gd' 'TA' 'Fa' 'Po']

In [775]:
valores_unicos_aquec= df['ArCondicionadoCentral'].unique()
contagem_valores_aquec = df['ArCondicionadoCentral'].value_counts(dropna=False)
print(contagem_valores_aquec)
print(valores_unicos_aquec)

valores_unicos_ele= df['Eletricidade'].unique()
contagem_valores_ele = df['Eletricidade'].value_counts(dropna=False)
print(contagem_valores_ele)
print(valores_unicos_ele)

ArCondicionadoCentral
Y    2723
N     196
Name: count, dtype: int64
['Y' 'N']
Eletricidade
SBrkr    2671
FuseA     188
FuseF      50
FuseP       8
Mix         1
NaN         1
Name: count, dtype: int64
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]

In [776]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_preencher_com_moda = 'Eletricidade'

# Calcula a moda
moda = df[coluna_preencher_com_moda].mode()[0]

# Preenche os valores NaN com a moda
df[coluna_preencher_com_moda] = df[coluna_preencher_com_moda].fillna(moda)

valores_unicos_ele= df['Eletricidade'].unique()
contagem_valores_ele = df['Eletricidade'].value_counts(dropna=False)
print(contagem_valores_ele)
print(valores_unicos_ele)

Eletricidade
SBrkr    2672
FuseA     188
FuseF      50
FuseP       8
Mix         1
Name: count, dtype: int64
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']

In [777]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_aquecimento1 = ['Aquecimento', 'QualidadeAquecimento', 'ArCondicionadoCentral', 'Eletricidade']

# Criar uma nova coluna com a combinação das colunas de aquecimento
df['AgrupamentoAquecimento'] = df[colunas_aquecimento1].astype(str).apply('_'.join, axis=1)

# Excluir colunas originais do porão
df = df.drop(colunas_aquecimento1, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_agrupamento_aquecimento = df['AgrupamentoAquecimento'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoAquecimento:")
print(contagem_valores_agrupamento_aquecimento)

valores_unicos_agrupamento_aquecimento = df['AgrupamentoAquecimento'].unique()
print("\nValores únicos para AgrupamentoAquecimento:")
print(valores_unicos_agrupamento_aquecimento)

Contagem de valores para AgrupamentoAquecimento:
AgrupamentoAquecimento
GasA_Ex_Y_SBrkr     1434
GasA_TA_Y_SBrkr      675
GasA_Gd_Y_SBrkr      402
GasA_TA_Y_FuseA       59
GasA_TA_N_SBrkr       51
GasA_Fa_Y_SBrkr       44
GasA_Ex_Y_FuseA       37
GasA_Gd_Y_FuseA       35
GasA_TA_N_FuseA       27
GasA_Gd_N_SBrkr       16
GasA_TA_N_FuseF       14
GasA_Fa_N_SBrkr       13
GasA_Ex_N_SBrkr        9
GasA_Gd_N_FuseA        9
GasW_TA_N_SBrkr        9
GasA_TA_Y_FuseF        9
GasA_Fa_Y_FuseA        6
GasW_TA_Y_SBrkr        5
GasA_Ex_Y_FuseF        5
GasA_Gd_Y_FuseF        5
Grav_Fa_N_FuseA        4
GasW_Fa_N_SBrkr        4
Grav_Fa_N_FuseF        3
GasA_Fa_N_FuseP        3
GasA_Fa_N_FuseA        3
GasA_Ex_N_FuseA        3
GasA_Ex_N_FuseF        3
GasA_Fa_N_FuseF        3
Grav_Fa_N_SBrkr        2
GasW_Gd_Y_SBrkr        2
GasA_Gd_N_FuseP        2
Wall_Fa_N_FuseF        2
Wall_Fa_N_FuseA        2
OthW_Fa_N_SBrkr        2
GasA_TA_N_FuseP        2
GasA_TA_Y_FuseP        1
Wall_Po_N_FuseA        1
GasW_Ex_Y_SBrkr        1
Floor_TA_N_SBrkr       1
GasW_TA_Y_FuseA        1
GasA_Gd_Y_Mix          1
GasW_Fa_N_FuseF        1
Wall_TA_N_FuseF        1
GasA_Gd_N_FuseF        1
GasW_TA_N_FuseA        1
GasA_Po_N_FuseF        1
GasW_Gd_N_SBrkr        1
GasW_TA_N_FuseF        1
GasW_Ex_N_SBrkr        1
GasA_Po_Y_FuseF        1
Name: count, dtype: int64

Valores únicos para AgrupamentoAquecimento:
['GasA_Ex_Y_SBrkr' 'GasA_Gd_Y_SBrkr' 'GasA_Gd_Y_FuseF' 'GasA_TA_Y_SBrkr'
 'GasA_Ex_Y_FuseA' 'GasA_Ex_Y_FuseF' 'GasA_Fa_N_SBrkr' 'GasA_TA_N_SBrkr'
 'GasA_TA_N_FuseP' 'GasW_TA_Y_SBrkr' 'GasA_Gd_N_SBrkr' 'GasA_TA_Y_FuseA'
 'GasW_Ex_N_SBrkr' 'GasA_TA_Y_FuseF' 'GasA_Fa_Y_SBrkr' 'GasW_TA_N_FuseF'
 'GasA_Gd_Y_FuseA' 'Grav_Fa_N_FuseF' 'GasA_TA_N_FuseA' 'GasA_Gd_N_FuseA'
 'GasA_Gd_N_FuseP' 'GasW_Gd_N_SBrkr' 'GasA_Ex_N_SBrkr' 'GasA_Po_N_FuseF'
 'Wall_Fa_N_FuseA' 'GasA_Gd_Y_Mix' 'GasW_TA_N_FuseA' 'GasA_Fa_N_FuseF'
 'GasA_TA_N_FuseF' 'GasA_Fa_Y_FuseA' 'Grav_Fa_N_SBrkr' 'GasA_Ex_N_FuseF'
 'GasA_Ex_N_FuseA' 'Grav_Fa_N_FuseA' 'GasW_Fa_N_SBrkr' 'GasW_TA_N_SBrkr'
 'GasA_Gd_N_FuseF' 'Wall_TA_N_FuseF' 'GasW_Gd_Y_SBrkr' 'GasW_Fa_N_FuseF'
 'OthW_Fa_N_SBrkr' 'GasW_TA_Y_FuseA' 'Floor_TA_N_SBrkr' 'GasW_Ex_Y_SBrkr'
 'Wall_Fa_N_FuseF' 'GasA_Fa_N_FuseA' 'GasA_Fa_N_FuseP' 'GasA_TA_Y_FuseP'
 'Wall_Po_N_FuseA' 'GasA_Po_Y_FuseF']

In [778]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento6 = 'AgrupamentoAquecimento'
num_clusters = 15  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento6 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento6].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_aquec = df['AgrupamentoAquecimento_Cluster'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoAquecimento_Cluster:")
print(contagem_valores_status_aquec)

valores_unicos_status_aquec = df['AgrupamentoAquecimento_Cluster'].unique()
print("\nValores únicos para AgrupamentoAquecimento_Cluster:")
print(valores_unicos_status_aquec)

Contagem de valores para AgrupamentoAquecimento_Cluster:
AgrupamentoAquecimento_Cluster
1     1435
2      675
0      404
5       61
6       61
4       50
3       42
9       37
7       36
12      24
14      20
13      20
8       18
10      18
11      18
Name: count, dtype: int64

Valores únicos para AgrupamentoAquecimento_Cluster:
[ 1  0 14  2  9  8  5  3 13 10  6  4 12  7 11]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [779]:
valores_unicos_est= df['EstiloTelhado'].unique()
contagem_valores_est = df['EstiloTelhado'].value_counts(dropna=False)
print(contagem_valores_est)
print(valores_unicos_est)

valores_unicos_mat= df['MaterialTelhado'].unique()
contagem_valores_mat = df['MaterialTelhado'].value_counts(dropna=False)
print(contagem_valores_mat)
print(valores_unicos_mat)

EstiloTelhado
Gable      2310
Hip         551
Gambrel      22
Flat         20
Mansard      11
Shed          5
Name: count, dtype: int64
['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
MaterialTelhado
CompShg    2876
Tar&Grv      23
WdShake       9
WdShngl       7
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: count, dtype: int64
['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']

In [780]:
valores_unicos_extp= df['ExteriorPrimario'].unique()
contagem_valores_extp = df['ExteriorPrimario'].value_counts(dropna=False)
print(contagem_valores_extp)
print(valores_unicos_extp)

valores_unicos_exts= df['ExteriorSecundario'].unique()
contagem_valores_exts = df['ExteriorSecundario'].value_counts(dropna=False)
print(contagem_valores_exts)
print(valores_unicos_exts)

ExteriorPrimario
VinylSd    1025
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
NaN           1
Name: count, dtype: int64
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock' nan]
ExteriorSecundario
VinylSd    1014
MetalSd     447
HdBoard     406
Wd Sdng     391
Plywood     270
CmentBd     126
Wd Shng      81
Stucco       47
BrkFace      47
AsbShng      38
Brk Cmn      22
ImStucc      15
Stone         6
AsphShn       4
CBlock        3
Other         1
NaN           1
Name: count, dtype: int64
['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock' nan]

In [781]:
valores_unicos_tip= df['TipoRevestimentoMasonryVeneer'].unique()
contagem_valores_tip = df['TipoRevestimentoMasonryVeneer'].value_counts(dropna=False)
print(contagem_valores_tip)
print(valores_unicos_tip)

valores_unicos_are= df['AreaRevestimentoMasonryVeneer'].unique()
contagem_valores_are = df['AreaRevestimentoMasonryVeneer'].value_counts(dropna=False)
print(contagem_valores_are)
print(valores_unicos_are)

TipoRevestimentoMasonryVeneer
NaN        1766
BrkFace     879
Stone       249
BrkCmn       25
Name: count, dtype: int64
['BrkFace' nan 'Stone' 'BrkCmn']
AreaRevestimentoMasonryVeneer
0.0      1738
NaN        23
120.0      15
176.0      13
200.0      13
         ...
788.0       1
796.0       1
391.0       1
604.0       1
382.0       1
Name: count, Length: 445, dtype: int64
[1.960e+02 0.000e+00 1.620e+02 3.500e+02 1.860e+02 2.400e+02 2.860e+02
 3.060e+02 2.120e+02 1.800e+02 3.800e+02 2.810e+02 6.400e+02 2.000e+02
 2.460e+02 1.320e+02 6.500e+02 1.010e+02 4.120e+02 2.720e+02 4.560e+02
 1.031e+03 1.780e+02 5.730e+02 3.440e+02 2.870e+02 1.670e+02 1.115e+03
 4.000e+01 1.040e+02 5.760e+02 4.430e+02 4.680e+02 6.600e+01 2.200e+01
 2.840e+02 7.600e+01 2.030e+02 6.800e+01 1.830e+02 4.800e+01 2.800e+01
 3.360e+02 6.000e+02 7.680e+02 4.800e+02 2.200e+02 1.840e+02 1.129e+03
 1.160e+02 1.350e+02 2.660e+02 8.500e+01 3.090e+02 1.360e+02 2.880e+02
 7.000e+01 3.200e+02 5.000e+01 1.200e+02 4.360e+02 2.520e+02 8.400e+01
 6.640e+02 2.260e+02 3.000e+02 6.530e+02 1.120e+02 4.910e+02 2.680e+02
 7.480e+02 9.800e+01 2.750e+02 1.380e+02 2.050e+02 2.620e+02 1.280e+02
 2.600e+02 1.530e+02 6.400e+01 3.120e+02 1.600e+01 9.220e+02 1.420e+02
 2.900e+02 1.270e+02 5.060e+02 2.970e+02       nan 6.040e+02 2.540e+02
 3.600e+01 1.020e+02 4.720e+02 4.810e+02 1.080e+02 3.020e+02 1.720e+02
 3.990e+02 2.700e+02 4.600e+01 2.100e+02 1.740e+02 3.480e+02 3.150e+02
 2.990e+02 3.400e+02 1.660e+02 7.200e+01 3.100e+01 3.400e+01 2.380e+02
 1.600e+03 3.650e+02 5.600e+01 1.500e+02 2.780e+02 2.560e+02 2.250e+02
 3.700e+02 3.880e+02 1.750e+02 2.960e+02 1.460e+02 1.130e+02 1.760e+02
 6.160e+02 3.000e+01 1.060e+02 8.700e+02 3.620e+02 5.300e+02 5.000e+02
 5.100e+02 2.470e+02 3.050e+02 2.550e+02 1.250e+02 1.000e+02 4.320e+02
 1.260e+02 4.730e+02 7.400e+01 1.450e+02 2.320e+02 3.760e+02 4.200e+01
 1.610e+02 1.100e+02 1.800e+01 2.240e+02 2.480e+02 8.000e+01 3.040e+02
 2.150e+02 7.720e+02 4.350e+02 3.780e+02 5.620e+02 1.680e+02 8.900e+01
 2.850e+02 3.600e+02 9.400e+01 3.330e+02 9.210e+02 7.620e+02 5.940e+02
 2.190e+02 1.880e+02 4.790e+02 5.840e+02 1.820e+02 2.500e+02 2.920e+02
 2.450e+02 2.070e+02 8.200e+01 9.700e+01 3.350e+02 2.080e+02 4.200e+02
 1.700e+02 4.590e+02 2.800e+02 9.900e+01 1.920e+02 2.040e+02 2.330e+02
 1.560e+02 4.520e+02 5.130e+02 2.610e+02 1.640e+02 2.590e+02 2.090e+02
 2.630e+02 2.160e+02 3.510e+02 6.600e+02 3.810e+02 5.400e+01 5.280e+02
 2.580e+02 4.640e+02 5.700e+01 1.470e+02 1.170e+03 2.930e+02 6.300e+02
 4.660e+02 1.090e+02 4.100e+01 1.600e+02 2.890e+02 6.510e+02 1.690e+02
 9.500e+01 4.420e+02 2.020e+02 3.380e+02 8.940e+02 3.280e+02 6.730e+02
 6.030e+02 1.000e+00 3.750e+02 9.000e+01 3.800e+01 1.570e+02 1.100e+01
 1.400e+02 1.300e+02 1.480e+02 8.600e+02 4.240e+02 1.047e+03 2.430e+02
 8.160e+02 3.870e+02 2.230e+02 1.580e+02 1.370e+02 1.150e+02 1.890e+02
 2.740e+02 1.170e+02 6.000e+01 1.220e+02 9.200e+01 4.150e+02 7.600e+02
 2.700e+01 7.500e+01 3.610e+02 1.050e+02 3.420e+02 2.980e+02 5.410e+02
 2.360e+02 1.440e+02 4.230e+02 4.400e+01 1.510e+02 9.750e+02 4.500e+02
 2.300e+02 5.710e+02 2.400e+01 5.300e+01 2.060e+02 1.400e+01 3.240e+02
 2.950e+02 3.960e+02 6.700e+01 1.540e+02 4.250e+02 4.500e+01 1.378e+03
 3.370e+02 1.490e+02 1.430e+02 5.100e+01 1.710e+02 2.340e+02 6.300e+01
 7.660e+02 3.200e+01 8.100e+01 1.630e+02 5.540e+02 2.180e+02 6.320e+02
 1.140e+02 5.670e+02 3.590e+02 4.510e+02 6.210e+02 7.880e+02 8.600e+01
 7.960e+02 3.910e+02 2.280e+02 8.800e+01 1.650e+02 4.280e+02 4.100e+02
 5.640e+02 3.680e+02 3.180e+02 5.790e+02 6.500e+01 7.050e+02 4.080e+02
 2.440e+02 1.230e+02 3.660e+02 7.310e+02 4.480e+02 2.940e+02 3.100e+02
 2.370e+02 4.260e+02 9.600e+01 4.380e+02 1.940e+02 1.190e+02 2.000e+01
 5.040e+02 4.920e+02 6.150e+02 1.095e+03 1.159e+03 2.650e+02 9.100e+01
 7.710e+02 4.700e+01 1.770e+02 3.710e+02 4.300e+02 4.400e+02 2.290e+02
 7.260e+02 4.180e+02 7.240e+02 3.830e+02 7.300e+02 4.700e+02 3.080e+02
 6.340e+02 3.720e+02 1.980e+02 1.210e+02 2.640e+02 1.410e+02 2.830e+02
 5.090e+02 2.170e+02 3.000e+00 6.570e+02 1.240e+02 4.440e+02 2.300e+01
 2.420e+02 3.640e+02 3.520e+02 4.060e+02 4.020e+02 4.220e+02 3.560e+02
 6.800e+02 1.110e+03 2.210e+02 7.140e+02 6.470e+02 1.290e+03 4.950e+02
 5.680e+02 1.790e+02 1.050e+03 1.870e+02 5.200e+01 2.760e+02 3.900e+01
 1.900e+02 2.510e+02 2.270e+02 1.340e+02 2.220e+02 5.800e+01 6.680e+02
 6.740e+02 1.970e+02 7.100e+02 9.450e+02 5.490e+02 2.530e+02 4.000e+02
 9.700e+02 5.020e+02 3.940e+02 2.350e+02 5.150e+02 5.260e+02 7.540e+02
 3.530e+02 5.250e+02 8.700e+01 2.910e+02 6.900e+01 2.790e+02 3.230e+02
 2.140e+02 5.190e+02 1.224e+03 6.520e+02 8.860e+02 9.020e+02 4.340e+02
 6.620e+02 7.340e+02 5.500e+02 5.140e+02 3.850e+02 5.180e+02 5.720e+02
 3.220e+02 8.770e+02 3.970e+02 7.380e+02 5.010e+02 1.180e+02 6.920e+02
 3.320e+02 5.220e+02 3.790e+02 5.320e+02 6.200e+01 1.990e+02 3.550e+02
 4.050e+02 3.270e+02 2.570e+02 3.820e+02]

In [782]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_verificar_nan = ['EstiloTelhado', 'MaterialTelhado', 'ExteriorPrimario', 'ExteriorSecundario', 'TipoRevestimentoMasonryVeneer', 'AreaRevestimentoMasonryVeneer']

# Verificar e contar NaN em cada coluna usada para criar 'Local'
for coluna in colunas_verificar_nan:
    quantidade_nan = df[coluna].isna().sum()
    print(f"A coluna {coluna} tem {quantidade_nan} valores NaN.")

A coluna EstiloTelhado tem 0 valores NaN.
A coluna MaterialTelhado tem 0 valores NaN.
A coluna ExteriorPrimario tem 1 valores NaN.
A coluna ExteriorSecundario tem 1 valores NaN.
A coluna TipoRevestimentoMasonryVeneer tem 1766 valores NaN.
A coluna AreaRevestimentoMasonryVeneer tem 23 valores NaN.

In [783]:
# Substitua 'df' pelo nome real do seu DataFrame
df['TipoRevestimentoMasonryVeneer'] = df['TipoRevestimentoMasonryVeneer'].fillna(0)
df['AreaRevestimentoMasonryVeneer'] = df['AreaRevestimentoMasonryVeneer'].fillna(0)

In [784]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_revestimentoma = [ 'TipoRevestimentoMasonryVeneer', 'AreaRevestimentoMasonryVeneer']

# Criar uma nova coluna com a concatenação dos valores das colunas de revestimento
df['RevestimentoMa'] = df[colunas_revestimentoma].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de revestimento
df = df.drop(colunas_revestimentoma, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_revestimentoma = df['RevestimentoMa'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoRevestimentoMa:")
print(contagem_valores_colunas_revestimentoma)

valores_unicos_colunas_revestimentoma = df['RevestimentoMa'].unique()
print("\nValores únicos para AgrupamentoRevestimentoMa:")
print(valores_unicos_colunas_revestimentoma)

Contagem de valores para AgrupamentoRevestimentoMa:
RevestimentoMa
0_0.0            1758
BrkFace_120.0      13
BrkFace_180.0      11
BrkFace_176.0      11
BrkFace_200.0      10
                 ...
BrkFace_81.0        1
Stone_0.0           1
BrkCmn_183.0        1
BrkFace_766.0       1
BrkFace_382.0       1
Name: count, Length: 592, dtype: int64

Valores únicos para AgrupamentoRevestimentoMa:
['BrkFace_196.0' '0_0.0' 'BrkFace_162.0' 'BrkFace_350.0' 'Stone_186.0'
 'Stone_240.0' 'Stone_286.0' 'Stone_306.0' 'BrkFace_212.0' 'BrkFace_180.0'
 'BrkFace_380.0' 'BrkFace_281.0' 'Stone_640.0' 'Stone_200.0'
 'BrkFace_246.0' 'Stone_132.0' 'BrkFace_650.0' 'BrkFace_101.0'
 'BrkFace_412.0' 'BrkFace_272.0' 'BrkFace_456.0' 'BrkFace_1031.0'
 'Stone_178.0' 'BrkFace_573.0' 'BrkFace_344.0' 'BrkFace_287.0'
 'BrkFace_167.0' 'BrkFace_1115.0' 'BrkFace_40.0' 'BrkFace_104.0'
 'BrkFace_576.0' 'BrkFace_443.0' 'Stone_468.0' 'BrkCmn_66.0'
 'BrkFace_22.0' 'BrkFace_284.0' 'Stone_76.0' 'BrkCmn_203.0' 'BrkFace_68.0'
 'BrkFace_183.0' 'BrkFace_48.0' 'BrkFace_28.0' 'BrkFace_336.0'
 'BrkFace_600.0' 'BrkFace_768.0' 'BrkFace_480.0' 'Stone_220.0'
 'BrkFace_184.0' 'BrkFace_1129.0' 'BrkFace_116.0' 'BrkFace_135.0'
 'BrkFace_266.0' 'BrkFace_85.0' 'BrkFace_309.0' 'BrkFace_136.0'
 'BrkFace_288.0' 'BrkFace_70.0' 'BrkFace_320.0' 'Stone_50.0'
 'BrkFace_120.0' 'Stone_436.0' 'BrkFace_252.0' 'BrkFace_84.0'
 'BrkFace_664.0' 'BrkFace_226.0' 'Stone_300.0' 'BrkFace_653.0'
 'Stone_112.0' 'BrkCmn_491.0' 'BrkFace_268.0' 'Stone_748.0' 'BrkFace_98.0'
 'Stone_275.0' 'BrkFace_138.0' 'Stone_205.0' 'BrkFace_262.0'
 'BrkFace_205.0' 'BrkFace_128.0' 'Stone_260.0' 'BrkFace_153.0'
 'BrkFace_64.0' 'BrkFace_312.0' 'BrkFace_16.0' 'BrkFace_922.0'
 'BrkFace_142.0' 'BrkFace_290.0' 'BrkFace_127.0' 'BrkFace_220.0'
 'BrkFace_506.0' 'BrkFace_297.0' 'BrkFace_604.0' 'BrkFace_254.0'
 'Stone_36.0' 'BrkFace_102.0' 'BrkCmn_472.0' 'Stone_481.0' 'BrkFace_108.0'
 'BrkFace_302.0' 'Stone_180.0' 'BrkFace_172.0' 'BrkFace_399.0'
 'Stone_270.0' 'BrkFace_46.0' 'BrkFace_210.0' 'BrkFace_174.0'
 'BrkFace_348.0' 'BrkCmn_183.0' 'BrkFace_315.0' 'BrkFace_299.0'
 'BrkFace_340.0' 'Stone_68.0' 'Stone_166.0' 'Stone_72.0' 'BrkFace_31.0'
 'BrkFace_34.0' 'Stone_238.0' 'BrkFace_1600.0' 'BrkFace_365.0'
 'BrkFace_56.0' 'BrkFace_150.0' 'Stone_246.0' 'BrkFace_112.0'
 'BrkFace_278.0' 'BrkFace_256.0' 'BrkFace_225.0' 'Stone_370.0'
 'BrkFace_388.0' 'BrkFace_300.0' 'BrkFace_175.0' 'BrkFace_296.0'
 'Stone_146.0' 'BrkFace_113.0' 'BrkFace_176.0' 'BrkFace_616.0'
 'BrkFace_30.0' 'Stone_106.0' 'BrkFace_870.0' 'BrkFace_362.0'
 'BrkFace_106.0' 'BrkFace_530.0' 'BrkFace_500.0' 'BrkFace_510.0'
 'BrkFace_247.0' 'BrkFace_305.0' 'BrkFace_200.0' 'Stone_350.0'
 'BrkFace_255.0' 'BrkFace_125.0' 'Stone_272.0' 'Stone_100.0' 'Stone_432.0'
 'BrkFace_203.0' 'Stone_126.0' 'BrkFace_473.0' 'BrkFace_74.0'
 'BrkFace_145.0' 'BrkFace_232.0' 'BrkFace_376.0' 'BrkFace_270.0'
 'BrkFace_72.0' 'BrkFace_42.0' 'BrkCmn_161.0' 'Stone_110.0' 'BrkFace_18.0'
 'Stone_224.0' 'Stone_248.0' 'BrkFace_80.0' 'BrkFace_304.0'
 'BrkFace_215.0' 'BrkFace_772.0' 'Stone_336.0' 'BrkCmn_435.0'
 'BrkFace_378.0' 'BrkFace_562.0' 'BrkFace_168.0' 'BrkFace_89.0'
 'BrkFace_285.0' 'BrkFace_360.0' 'BrkFace_132.0' 'BrkCmn_70.0'
 'Stone_94.0' 'BrkFace_333.0' 'BrkFace_921.0' 'Stone_762.0'
 'BrkFace_594.0' 'Stone_268.0' 'BrkFace_219.0' 'BrkFace_188.0'
 'BrkFace_479.0' 'BrkFace_584.0' 'BrkFace_182.0' 'BrkFace_178.0'
 'Stone_250.0' 'BrkFace_292.0' 'BrkFace_245.0' 'BrkFace_207.0'
 'BrkFace_82.0' 'BrkFace_97.0' 'BrkFace_335.0' 'BrkFace_306.0'
 'BrkFace_208.0' 'Stone_420.0' 'BrkFace_170.0' 'BrkFace_238.0'
 'BrkFace_459.0' 'BrkFace_280.0' 'BrkFace_99.0' 'BrkCmn_192.0'
 'BrkFace_204.0' 'BrkFace_233.0' 'BrkFace_156.0' 'BrkFace_452.0'
 'Stone_226.0' 'BrkFace_513.0' '0_288.0' 'BrkFace_261.0' 'BrkFace_164.0'
 'BrkFace_192.0' 'BrkFace_259.0' 'Stone_108.0' 'BrkFace_209.0'
 'BrkFace_472.0' 'BrkFace_263.0' 'Stone_162.0' 'Stone_216.0'
 'BrkFace_351.0' 'BrkFace_660.0' 'BrkFace_381.0' 'BrkFace_54.0'
 'BrkFace_528.0' 'BrkFace_216.0' 'BrkCmn_113.0' 'BrkFace_258.0'
 'Stone_464.0' 'BrkFace_57.0' 'Stone_215.0' 'BrkFace_0.0' 'Stone_256.0'
 'BrkFace_147.0' 'BrkFace_1170.0' 'BrkFace_293.0' 'BrkFace_630.0'
 'BrkFace_466.0' 'BrkFace_109.0' 'Stone_351.0' 'BrkCmn_41.0'
 'BrkFace_160.0' 'BrkFace_289.0' 'BrkFace_651.0' 'BrkFace_169.0'
 'Stone_340.0' 'BrkFace_260.0' 'Stone_82.0' 'BrkFace_95.0' 'BrkFace_442.0'
 'BrkFace_202.0' 'BrkFace_338.0' 'BrkFace_894.0' 'BrkCmn_328.0'
 'BrkFace_673.0' 'Stone_284.0' 'BrkFace_603.0' '0_1.0' 'BrkFace_375.0'
 'BrkFace_240.0' 'BrkFace_90.0' 'BrkFace_38.0' 'BrkFace_157.0'
 'BrkFace_11.0' 'Stone_140.0' 'BrkFace_130.0' 'BrkFace_148.0'
 'Stone_860.0' 'Stone_424.0' 'BrkFace_1047.0' 'BrkFace_243.0'
 'Stone_128.0' 'BrkFace_816.0' 'BrkFace_387.0' 'BrkFace_223.0'
 'BrkFace_158.0' 'BrkFace_137.0' 'BrkFace_115.0' 'BrkFace_189.0'
 'BrkFace_76.0' 'Stone_274.0' 'BrkFace_117.0' 'BrkFace_60.0'
 'BrkFace_122.0' 'BrkFace_92.0' 'BrkFace_415.0' 'Stone_760.0'
 'BrkFace_27.0' 'BrkFace_75.0' 'Stone_208.0' 'BrkFace_361.0'
 'BrkFace_105.0' 'BrkFace_342.0' 'Stone_302.0' 'BrkFace_298.0'
 'BrkFace_541.0' 'BrkFace_236.0' 'BrkFace_144.0' 'BrkFace_250.0'
 'BrkFace_423.0' 'BrkFace_424.0' 'BrkFace_44.0' 'BrkFace_151.0'
 'Stone_210.0' 'BrkFace_975.0' 'Stone_450.0' 'Stone_230.0' 'BrkFace_571.0'
 'Stone_24.0' 'BrkFace_53.0' 'BrkFace_206.0' 'Stone_84.0' 'BrkFace_14.0'
 'BrkFace_324.0' 'Stone_338.0' 'Stone_295.0' 'Stone_70.0' 'BrkFace_396.0'
 'BrkCmn_67.0' 'Stone_135.0' 'BrkCmn_272.0' 'Stone_145.0' 'Stone_154.0'
 'BrkFace_140.0' 'BrkFace_100.0' 'BrkFace_425.0' 'BrkFace_166.0'
 'BrkFace_45.0' 'Stone_42.0' 'Stone_328.0' 'Stone_288.0' 'BrkFace_1378.0'
 'BrkFace_337.0' 'Stone_149.0' 'Stone_143.0' 'BrkFace_51.0'
 'BrkFace_171.0' 'BrkFace_234.0' 'BrkFace_63.0' 'Stone_74.0'
 'BrkFace_766.0' 'BrkFace_32.0' 'Stone_0.0' 'BrkFace_81.0' 'Stone_163.0'
 'Stone_92.0' 'BrkFace_554.0' 'Stone_182.0' 'BrkFace_218.0'
 'BrkFace_632.0' 'BrkFace_114.0' 'Stone_567.0' 'BrkFace_359.0'
 'BrkFace_110.0' 'BrkFace_451.0' 'BrkCmn_621.0' 'Stone_788.0'
 'BrkFace_86.0' 'Stone_796.0' '0_344.0' 'BrkFace_391.0' 'BrkFace_228.0'
 'Stone_117.0' 'BrkFace_88.0' 'BrkFace_165.0' 'BrkFace_428.0'
 'Stone_410.0' '0_312.0' 'BrkFace_564.0' 'BrkFace_149.0' 'BrkFace_368.0'
 'BrkFace_318.0' 'BrkFace_579.0' 'BrkFace_143.0' 'BrkFace_65.0'
 'BrkFace_66.0' 'Stone_16.0' 'BrkFace_705.0' 'BrkFace_408.0' 'Stone_160.0'
 'BrkFace_244.0' 'Stone_174.0' 'BrkFace_123.0' 'Stone_366.0'
 'BrkFace_731.0' 'BrkFace_420.0' 'Stone_243.0' 'BrkFace_448.0'
 'Stone_294.0' 'BrkFace_310.0' 'BrkFace_237.0' 'Stone_426.0'
 'BrkFace_96.0' 'BrkFace_438.0' 'Stone_194.0' 'Stone_119.0' 'BrkFace_20.0'
 'BrkFace_504.0' 'BrkFace_492.0' 'BrkFace_615.0' 'BrkFace_1095.0'
 'BrkCmn_250.0' 'BrkFace_1159.0' 'BrkFace_265.0' 'BrkFace_91.0'
 'BrkFace_771.0' 'BrkFace_47.0' 'Stone_96.0' 'BrkFace_177.0' 'Stone_80.0'
 'BrkFace_371.0' 'BrkFace_430.0' 'Stone_60.0' 'BrkFace_440.0'
 'BrkFace_229.0' 'BrkFace_161.0' 'Stone_726.0' 'Stone_472.0' 'Stone_20.0'
 'Stone_122.0' '0_285.0' 'BrkFace_418.0' 'BrkFace_724.0' 'Stone_383.0'
 'Stone_176.0' 'Stone_730.0' 'BrkFace_470.0' 'BrkFace_308.0'
 'BrkFace_634.0' 'BrkFace_286.0' 'BrkFace_372.0' 'BrkFace_294.0'
 'Stone_206.0' 'Stone_198.0' 'Stone_120.0' 'Stone_121.0' 'BrkFace_264.0'
 'BrkFace_141.0' 'Stone_280.0' 'Stone_252.0' 'BrkFace_450.0'
 'BrkFace_283.0' 'BrkFace_509.0' 'BrkFace_217.0' 'Stone_144.0'
 'BrkFace_3.0' 'BrkFace_657.0' 'Stone_480.0' 'BrkFace_295.0'
 'BrkFace_124.0' 'BrkFace_444.0' 'Stone_188.0' 'BrkFace_23.0'
 'BrkFace_366.0' 'Stone_242.0' 'Stone_364.0' 'Stone_352.0' 'BrkFace_198.0'
 'BrkFace_242.0' 'BrkFace_406.0' 'Stone_290.0' 'BrkFace_119.0'
 'BrkFace_194.0' 'Stone_130.0' 'BrkFace_383.0' 'BrkFace_621.0'
 'BrkFace_402.0' 'BrkFace_422.0' 'BrkFace_356.0' 'Stone_554.0'
 'BrkFace_468.0' 'Stone_680.0' 'BrkFace_1110.0' 'BrkFace_221.0'
 'BrkFace_714.0' 'BrkFace_24.0' 'BrkFace_647.0' 'BrkFace_1290.0'
 'BrkFace_495.0' 'Stone_156.0' 'Stone_310.0' 'BrkFace_126.0'
 'BrkFace_568.0' 'BrkFace_179.0' 'BrkFace_1050.0' 'BrkFace_410.0'
 'BrkFace_187.0' 'Stone_52.0' 'BrkFace_276.0' 'BrkFace_39.0' 'BrkCmn_40.0'
 'BrkCmn_216.0' 'BrkFace_190.0' 'BrkFace_251.0' 'Stone_402.0'
 'BrkFace_227.0' 'BrkFace_134.0' 'Stone_212.0' 'BrkFace_222.0'
 'BrkCmn_58.0' 'Stone_115.0' 'Stone_40.0' 'BrkFace_668.0' 'Stone_258.0'
 'BrkFace_674.0' 'BrkFace_197.0' 'BrkFace_52.0' 'BrkCmn_138.0'
 'BrkFace_710.0' 'BrkFace_945.0' 'Stone_67.0' 'BrkFace_549.0'
 'BrkFace_253.0' 'BrkFace_567.0' 'Stone_378.0' 'BrkFace_400.0'
 'Stone_456.0' 'BrkFace_970.0' 'Stone_510.0' 'BrkFace_502.0'
 'BrkFace_394.0' 'Stone_235.0' 'Stone_44.0' 'Stone_22.0' 'BrkFace_515.0'
 'BrkFace_275.0' 'BrkFace_526.0' 'BrkFace_248.0' 'BrkFace_754.0'
 'BrkFace_353.0' 'Stone_30.0' 'BrkFace_41.0' 'BrkFace_525.0'
 'BrkFace_87.0' 'BrkFace_291.0' 'BrkCmn_54.0' 'BrkCmn_69.0'
 'BrkFace_364.0' 'Stone_279.0' 'BrkFace_50.0' 'BrkFace_323.0'
 'BrkFace_214.0' 'BrkFace_519.0' 'Stone_1224.0' 'BrkCmn_128.0'
 'BrkFace_652.0' 'Stone_473.0' 'BrkFace_352.0' 'BrkFace_1224.0'
 'BrkFace_886.0' 'BrkFace_94.0' '0_198.0' 'Stone_28.0' 'Stone_902.0'
 'BrkFace_434.0' 'BrkFace_662.0' 'Stone_734.0' 'BrkFace_550.0'
 'BrkFace_230.0' 'BrkFace_514.0' 'BrkFace_385.0' 'BrkFace_518.0'
 'BrkFace_572.0' 'BrkFace_322.0' 'BrkFace_877.0' 'BrkFace_397.0'
 'BrkFace_738.0' 'BrkFace_501.0' 'Stone_192.0' 'BrkFace_118.0'
 'BrkFace_692.0' 'Stone_150.0' 'BrkFace_332.0' 'BrkFace_522.0'
 'BrkFace_379.0' 'Stone_264.0' 'Stone_41.0' 'Stone_65.0' 'Stone_164.0'
 'BrkFace_532.0' 'BrkFace_62.0' 'BrkFace_199.0' 'BrkFace_355.0'
 'BrkFace_405.0' 'BrkFace_327.0' 'BrkFace_257.0' 'BrkFace_382.0']

In [785]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento60 = 'RevestimentoMa'
num_clusters = 5  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento60 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento60].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_revsma = df['RevestimentoMa_Cluster'].value_counts(dropna=False)
print("Contagem de valores para RevestimentoMa_Cluster:")
print(contagem_valores_status_revsma )

valores_unicos_status_revsma  = df['RevestimentoMa_Cluster'].unique()
print("\nValores únicos para RevestimentoMa_Cluster:")
print(valores_unicos_status_revsma )

Contagem de valores para RevestimentoMa_Cluster:
RevestimentoMa_Cluster
1    1766
2     862
0     274
3      13
4       4
Name: count, dtype: int64

Valores únicos para RevestimentoMa_Cluster:
[2 1 0 3 4]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [786]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_revestimento = ['EstiloTelhado', 'MaterialTelhado', 'ExteriorPrimario',
                        'ExteriorSecundario']

# Criar uma nova coluna com a concatenação dos valores das colunas de revestimento
df['Revestimento'] = df[colunas_revestimento].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de revestimento
df = df.drop(colunas_revestimento, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_revestimento = df['Revestimento'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoRevestimento:")
print(contagem_valores_colunas_revestimento)

valores_unicos_colunas_revestimento = df['Revestimento'].unique()
print("\nValores únicos para AgrupamentoRevestimento:")
print(valores_unicos_colunas_revestimento)

Contagem de valores para AgrupamentoRevestimento:
Revestimento
Gable_CompShg_VinylSd_VinylSd    833
Gable_CompShg_MetalSd_MetalSd    351
Gable_CompShg_HdBoard_HdBoard    295
Gable_CompShg_Wd Sdng_Wd Sdng    261
Hip_CompShg_VinylSd_VinylSd      164
                                ...
Gable_WdShngl_HdBoard_HdBoard      1
Gable_CompShg_VinylSd_Stucco       1
Gable_CompShg_AsbShng_Stucco       1
Gable_CompShg_CemntBd_Wd Sdng      1
Gable_CompShg_CBlock_VinylSd       1
Name: count, Length: 155, dtype: int64

Valores únicos para AgrupamentoRevestimento:
['Gable_CompShg_VinylSd_VinylSd' 'Gable_CompShg_MetalSd_MetalSd'
 'Gable_CompShg_Wd Sdng_Wd Shng' 'Gable_CompShg_HdBoard_HdBoard'
 'Gable_CompShg_BrkFace_Wd Shng' 'Hip_CompShg_HdBoard_HdBoard'
 'Hip_CompShg_WdShing_Wd Shng' 'Hip_CompShg_HdBoard_Plywood'
 'Hip_CompShg_MetalSd_MetalSd' 'Gable_CompShg_Wd Sdng_Wd Sdng'
 'Hip_CompShg_BrkFace_Plywood' 'Hip_CompShg_VinylSd_VinylSd'
 'Gable_CompShg_CemntBd_CmentBd' 'Gable_CompShg_Plywood_Plywood'
 'Gambrel_CompShg_BrkFace_BrkFace' 'Hip_CompShg_BrkFace_BrkFace'
 'Hip_CompShg_Wd Sdng_Wd Sdng' 'Gable_CompShg_AsbShng_Plywood'
 'Gable_CompShg_BrkFace_Wd Sdng' 'Gable_WdShngl_WdShing_Wd Shng'
 'Gable_CompShg_HdBoard_Plywood' 'Gable_CompShg_Stucco_Stucco'
 'Gable_CompShg_BrkFace_AsbShng' 'Gambrel_CompShg_VinylSd_VinylSd'
 'Hip_CompShg_Plywood_Plywood' 'Mansard_CompShg_VinylSd_VinylSd'
 'Gambrel_CompShg_Wd Sdng_Wd Sdng' 'Flat_Metal_Plywood_Plywood'
 'Gable_CompShg_AsbShng_AsbShng' 'Gable_CompShg_WdShing_Wd Sdng'
 'Flat_CompShg_BrkFace_Plywood' 'Hip_WdShake_Plywood_Plywood'
 'Gable_CompShg_WdShing_Wd Shng' 'Gable_CompShg_VinylSd_Plywood'
 'Gable_WdShngl_Wd Sdng_Wd Sdng' 'Gable_CompShg_Plywood_Brk Cmn'
 'Hip_CompShg_CemntBd_CmentBd' 'Hip_CompShg_Wd Sdng_BrkFace'
 'Gable_CompShg_Wd Sdng_HdBoard' 'Gable_CompShg_Wd Sdng_Plywood'
 'Gable_CompShg_BrkFace_BrkFace' 'Flat_Membran_Plywood_Plywood'
 'Gable_CompShg_HdBoard_ImStucc' 'Gable_CompShg_Plywood_ImStucc'
 'Mansard_CompShg_HdBoard_AsphShn' 'Mansard_WdShake_Wd Sdng_Wd Sdng'
 'Gable_CompShg_Wd Sdng_AsbShng' 'Gable_CompShg_VinylSd_Wd Shng'
 'Gable_CompShg_Wd Sdng_MetalSd' 'Hip_CompShg_Wd Sdng_ImStucc'
 'Gable_Tar&Grv_Plywood_Plywood' 'Gable_CompShg_WdShing_Plywood'
 'Gambrel_CompShg_Wd Sdng_VinylSd' 'Gable_CompShg_BrkComm_Brk Cmn'
 'Hip_CompShg_Wd Sdng_Stucco' 'Gable_CompShg_WdShing_Stucco'
 'Gable_CompShg_BrkFace_Plywood' 'Gable_WdShngl_Plywood_Plywood'
 'Flat_Tar&Grv_Plywood_Plywood' 'Hip_CompShg_Stucco_Wd Shng'
 'Hip_CompShg_Stucco_Stucco' 'Mansard_WdShake_WdShing_Plywood'
 'Gambrel_CompShg_MetalSd_MetalSd' 'Hip_CompShg_Wd Sdng_Stone'
 'Gambrel_CompShg_MetalSd_AsphShn' 'Gable_CompShg_Stucco_Wd Shng'
 'Flat_Tar&Grv_Wd Sdng_Wd Sdng' 'Gable_CompShg_VinylSd_Other'
 'Gable_WdShngl_Plywood_Wd Sdng' 'Gable_CompShg_MetalSd_Wd Sdng'
 'Gable_CompShg_Plywood_Wd Sdng' 'Mansard_CompShg_WdShing_HdBoard'
 'Gable_CompShg_CemntBd_Wd Sdng' 'Gable_CompShg_AsbShng_Stucco'
 'Gable_CompShg_VinylSd_Stucco' 'Gable_WdShngl_HdBoard_HdBoard'
 'Hip_CompShg_VinylSd_Wd Shng' 'Gable_CompShg_Wd Sdng_VinylSd'
 'Hip_CompShg_Wd Sdng_Plywood' 'Gable_CompShg_Stucco_Stone'
 'Mansard_CompShg_Stucco_Stucco' 'Hip_CompShg_CemntBd_Wd Shng'
 'Hip_CompShg_AsbShng_AsbShng' 'Gable_CompShg_VinylSd_HdBoard'
 'Gable_CompShg_MetalSd_HdBoard' 'Gable_CompShg_Plywood_HdBoard'
 'Hip_CompShg_Plywood_HdBoard' 'Gable_CompShg_HdBoard_Wd Sdng'
 'Hip_CompShg_VinylSd_ImStucc' 'Gable_CompShg_WdShing_HdBoard'
 'Flat_Tar&Grv_WdShing_Plywood' 'Flat_Tar&Grv_BrkComm_Brk Cmn'
 'Hip_CompShg_AsphShn_AsphShn' 'Hip_CompShg_MetalSd_Stucco'
 'Hip_WdShake_Stone_HdBoard' 'Hip_WdShngl_BrkFace_BrkFace'
 'Hip_CompShg_BrkFace_Wd Sdng' 'Gable_CompShg_HdBoard_MetalSd'
 'Gable_CompShg_Stone_Stone' 'Gable_CompShg_ImStucc_ImStucc'
 'Hip_CompShg_BrkFace_HdBoard' 'Shed_CompShg_Plywood_Plywood'
 'Gable_CompShg_BrkFace_Stucco' 'Hip_CompShg_Stucco_CmentBd'
 'Shed_WdShake_Plywood_Plywood' 'Gable_Roll_AsbShng_AsbShng'
 'Mansard_CompShg_MetalSd_Wd Shng' 'Hip_CompShg_Wd Sdng_HdBoard'
 'Hip_CompShg_WdShing_Plywood' 'Hip_ClyTile_Stucco_Stucco'
 'Gable_CompShg_BrkFace_HdBoard' 'Gable_CompShg_BrkFace_Stone'
 'Gable_CompShg_CBlock_CBlock' 'Gable_CompShg_VinylSd_Wd Sdng'
 'Gable_CompShg_HdBoard_Wd Shng' 'Gable_CompShg_VinylSd_AsbShng'
 'Gambrel_CompShg_Wd Sdng_Stucco' 'Gable_CompShg_MetalSd_VinylSd'
 'Flat_Tar&Grv_Plywood_CBlock' 'Gable_Tar&Grv_VinylSd_VinylSd'
 'Gable_CompShg_Stucco_BrkFace' 'Mansard_CompShg_AsbShng_AsbShng'
 'Gambrel_CompShg_AsbShng_AsbShng' 'Mansard_WdShake_Plywood_Plywood'
 'Hip_WdShake_VinylSd_VinylSd' 'Gable_CompShg_BrkFace_MetalSd'
 'Mansard_CompShg_Wd Sdng_Wd Sdng' 'Gable_Tar&Grv_HdBoard_HdBoard'
 'Mansard_CompShg_MetalSd_MetalSd' 'Gable_CompShg_MetalSd_CBlock'
 'Gable_CompShg_AsphShn_AsphShn' 'Flat_Tar&Grv_nan_nan'
 'Gable_CompShg_AsbShng_VinylSd' 'Hip_WdShake_HdBoard_Plywood'
 'Hip_CompShg_VinylSd_MetalSd' 'Gable_CompShg_VinylSd_MetalSd'
 'Gable_CompShg_Stucco_Wd Sdng' 'Shed_WdShngl_Wd Sdng_Wd Sdng'
 'Gable_CompShg_Plywood_VinylSd' 'Hip_CompShg_Stucco_Plywood'
 'Gable_CompShg_AsbShng_CmentBd' 'Hip_CompShg_HdBoard_BrkFace'
 'Hip_CompShg_BrkFace_VinylSd' 'Hip_WdShake_BrkFace_BrkFace'
 'Hip_CompShg_Wd Sdng_VinylSd' 'Gable_CompShg_BrkComm_Wd Sdng'
 'Gable_CompShg_AsbShng_Wd Sdng' 'Gable_CompShg_MetalSd_Stucco'
 'Gambrel_CompShg_BrkComm_Stucco' 'Shed_CompShg_VinylSd_VinylSd'
 'Flat_Tar&Grv_WdShing_Wd Shng' 'Flat_Tar&Grv_Plywood_Wd Shng'
 'Hip_CompShg_HdBoard_Stucco' 'Gable_CompShg_Wd Sdng_Stucco'
 'Gable_CompShg_CBlock_VinylSd']

In [787]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento6 = 'Revestimento'
num_clusters = 10  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento6 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento6].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_revs = df['Revestimento_Cluster'].value_counts(dropna=False)
print("Contagem de valores para Revestimento_Cluster:")
print(contagem_valores_status_revs)

valores_unicos_status_revs = df['Revestimento_Cluster'].unique()
print("\nValores únicos para Revestimento_Cluster:")
print(valores_unicos_status_revs)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para Revestimento_Cluster:
Revestimento_Cluster
2    859
3    377
1    342
0    333
4    313
6    257
8    170
5    124
7    103
9     41
Name: count, dtype: int64

Valores únicos para Revestimento_Cluster:
[2 3 0 4 7 1 9 8 5 6]

In [788]:
valores_unicos_lar= df['Lareiras'].unique()
contagem_valores_lar = df['Lareiras'].value_counts(dropna=False)
print(contagem_valores_lar)
print(valores_unicos_lar)

valores_unicos_qualar= df['QualidadeLareira'].unique()
contagem_valores_qualar = df['QualidadeLareira'].value_counts(dropna=False)
print(contagem_valores_qualar)
print(valores_unicos_qualar)

Lareiras
0    1420
1    1268
2     219
3      11
4       1
Name: count, dtype: int64
[0 1 2 3 4]
QualidadeLareira
NaN    1420
Gd      744
TA      592
Fa       74
Po       46
Ex       43
Name: count, dtype: int64
[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']

In [789]:
# Substitua 'df' pelo nome real do seu DataFrame
df['QualidadeLareira'] = df['QualidadeLareira'].fillna(0)

In [790]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_lareira = ['Lareiras', 'QualidadeLareira']

# Criar uma nova coluna com a concatenação dos valores das colunas de lareira
df['StatusLareira'] = df[colunas_lareira].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de lareira
df = df.drop(colunas_lareira, axis=1)

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_lareira = df['StatusLareira'].value_counts(dropna=False)
print("Contagem de valores para AgrupamentoLareira:")
print(contagem_valores_colunas_lareira)

valores_unicos_colunas_lareira = df['StatusLareira'].unique()
print("\nValores únicos para AgrupamentoLareira:")
print(valores_unicos_colunas_lareira)

Contagem de valores para AgrupamentoLareira:
StatusLareira
0_0     1420
1_Gd     627
1_TA     495
2_Gd     112
2_TA      92
1_Fa      63
1_Po      46
1_Ex      37
2_Fa      10
3_Gd       5
2_Ex       5
3_TA       4
3_Ex       1
3_Fa       1
4_TA       1
Name: count, dtype: int64

Valores únicos para AgrupamentoLareira:
['0_0' '1_TA' '1_Gd' '2_TA' '2_Gd' '1_Fa' '1_Ex' '1_Po' '3_Gd' '2_Fa'
 '3_Ex' '2_Ex' '3_Fa' '3_TA' '4_TA']

In [791]:
# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento7 = 'StatusLareira'

num_clusters = 7  # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento7 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento7].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_status_garagem = df['StatusLareira_Cluster'].value_counts(dropna=False)
print("Contagem de valores para StatusLareira_Cluster:")
print(contagem_valores_status_garagem)

valores_unicos_status_garagem = df['StatusLareira_Cluster'].unique()
print("\nValores únicos para StatusLareira_Cluster:")
print(valores_unicos_status_garagem)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para StatusLareira_Cluster:
StatusLareira_Cluster
0    1420
1     632
2     500
3     117
5     112
4      92
6      46
Name: count, dtype: int64

Valores únicos para StatusLareira_Cluster:
[0 2 1 4 3 5 6]

In [792]:
valores_unicos_rua= df['Rua'].unique()
contagem_valores_rua = df['Rua'].value_counts(dropna=False)
print(contagem_valores_rua)
print(valores_unicos_rua)

valores_unicos_viela= df['Viela'].unique()
contagem_valores_viela = df['Viela'].value_counts(dropna=False)
print(contagem_valores_viela)
print(valores_unicos_viela)

Rua
Pave    2907
Grvl      12
Name: count, dtype: int64
['Pave' 'Grvl']
Viela
NaN     2721
Grvl     120
Pave      78
Name: count, dtype: int64
[nan 'Grvl' 'Pave']

In [793]:
df = df.drop(['Viela'], axis=1)

In [794]:
valores_unicos_cojf= df['ConfigLote'].unique()
contagem_valores_cojf = df['ConfigLote'].value_counts(dropna=False)
print(contagem_valores_cojf)
print(valores_unicos_cojf)

valores_unicos_decl= df['DeclividadeTerreno'].unique()
contagem_valores_decl = df['DeclividadeTerreno'].value_counts(dropna=False)
print(contagem_valores_decl)
print(valores_unicos_decl)

ConfigLote
Inside     2133
Corner      511
CulDSac     176
FR2          85
FR3          14
Name: count, dtype: int64
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
DeclividadeTerreno
Gtl    2778
Mod     125
Sev      16
Name: count, dtype: int64
['Gtl' 'Mod' 'Sev']

In [795]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_configdeclividade = ['ConfigLote', 'DeclividadeTerreno']

# Criar uma nova coluna com a concatenação dos valores das colunas de ConfigLote e DeclividadeTerreno
df['ConfigDeclividade'] = df[colunas_configdeclividade].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de ConfigLote e DeclividadeTerreno
df = df.drop(colunas_configdeclividade, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento10 = 'ConfigDeclividade'

num_clusters = 10 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento10 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento10].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_endereco = df['ConfigDeclividade_Cluster'].value_counts(dropna=False)
print("Contagem de valores para ConfigDeclividade_Cluster:")
print(contagem_valores_colunas_endereco)

valores_unicos_colunas_endereco = df['ConfigDeclividade_Cluster'].unique()
print("\nValores únicos para ConfigDeclividade_Cluster:")
print(valores_unicos_colunas_endereco)

Contagem de valores para ConfigDeclividade_Cluster:
ConfigDeclividade_Cluster
1    2023
0     496
2     163
3     103
4      84
5      15
6      14
9       8
7       7
8       6
Name: count, dtype: int64

Valores únicos para ConfigDeclividade_Cluster:
[1 4 0 2 5 3 8 9 6 7]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [796]:
valores_unicos_fren= df['FrenteLote'].unique()
contagem_valores_fren = df['FrenteLote'].value_counts(dropna=False)
print(contagem_valores_fren)
print(valores_unicos_fren)

valores_unicos_area= df['AreaLote'].unique()
contagem_valores_area = df['AreaLote'].value_counts(dropna=False)
print(contagem_valores_area)
print(valores_unicos_area)

FrenteLote
NaN      486
60.0     276
80.0     137
70.0     133
50.0     117
        ...
111.0      1
138.0      1
182.0      1
168.0      1
133.0      1
Name: count, Length: 129, dtype: int64
[ 65.  80.  68.  60.  84.  85.  75.  nan  51.  50.  70.  91.  72.  66.
 101.  57.  44. 110.  98.  47. 108. 112.  74. 115.  61.  48.  33.  52.
 100.  24.  89.  63.  76.  81.  95.  69.  21.  32.  78. 121. 122.  40.
 105.  73.  77.  64.  94.  34.  90.  55.  88.  82.  71. 120. 107.  92.
 134.  62.  86. 141.  97.  54.  41.  79. 174.  99.  67.  83.  43. 103.
  93.  30. 129. 140.  35.  37. 118.  87. 116. 150. 111.  49.  96.  59.
  36.  56. 102.  58.  38. 109. 130.  53. 137.  45. 106. 104.  42.  39.
 144. 114. 128. 149. 313. 168. 182. 138. 160. 152. 124. 153.  46.  26.
  25. 119.  31.  28. 117. 113. 125. 135. 136.  22. 123. 195. 155. 126.
 200. 131. 133.]
AreaLote
9600     44
7200     43
6000     34
9000     29
10800    25
         ..
15498     1
9439      1
7406      1
3013      1
10441     1
Name: count, Length: 1951, dtype: int64
[ 8450  9600 11250 ...  1894 20000 10441]

In [797]:
valores_unicos_form= df['FormatoLote'].unique()
contagem_valores_form = df['FormatoLote'].value_counts(dropna=False)
print(contagem_valores_form)
print(valores_unicos_form)

valores_unicos_con= df['ContornoTerreno'].unique()
contagem_valores_con = df['ContornoTerreno'].value_counts(dropna=False)
print(contagem_valores_con)
print(valores_unicos_con)

FormatoLote
Reg    1859
IR1     968
IR2      76
IR3      16
Name: count, dtype: int64
['Reg' 'IR1' 'IR2' 'IR3']
ContornoTerreno
Lvl    2622
HLS     120
Bnk     117
Low      60
Name: count, dtype: int64
['Lvl' 'Bnk' 'Low' 'HLS']

In [798]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_verificar_nan = ['AreaLote', 'FrenteLote', 'FormatoLote', 'ContornoTerreno']

# Verificar e contar NaN em cada coluna usada para criar 'Lote'
for coluna in colunas_verificar_nan:
    quantidade_nan = df[coluna].isna().sum()
    print(f"A coluna {coluna} tem {quantidade_nan} valores NaN.")

A coluna AreaLote tem 0 valores NaN.
A coluna FrenteLote tem 486 valores NaN.
A coluna FormatoLote tem 0 valores NaN.
A coluna ContornoTerreno tem 0 valores NaN.

In [799]:
# Substitua 'df' pelo nome real do seu DataFrame
df['FrenteLote'] = df['FrenteLote'].fillna(df['FrenteLote'].mean())

In [800]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_lote = ['FormatoLote', 'ContornoTerreno']

# Criar uma nova coluna com a concatenação dos valores das colunas de lote
df['InfoLote'] = df[colunas_lote].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de lote
df = df.drop(colunas_lote, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento11 = 'InfoLote'

num_clusters = 10 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento11 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento11].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_lote = df['InfoLote_Cluster'].value_counts(dropna=False)
print("Contagem de valores para InfoLote_Cluster:")
print(contagem_valores_colunas_lote)

valores_unicos_colunas_lote = df['InfoLote_Cluster'].unique()
print("\nValores únicos para InfoLote_Cluster:")
print(valores_unicos_colunas_lote)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para InfoLote_Cluster:
InfoLote_Cluster
1    1728
0     824
3      83
2      83
4      60
6      37
5      34
8      33
7      27
9      10
Name: count, dtype: int64

Valores únicos para InfoLote_Cluster:
[1 0 4 3 7 6 5 2 8 9]

In [801]:
valores_unicos_mes= df['MesVenda'].unique()
contagem_valores_mes = df['MesVenda'].value_counts(dropna=False)
print(contagem_valores_mes)
print(valores_unicos_mes)

valores_unicos_ano= df['AnoVenda'].unique()
contagem_valores_ano = df['AnoVenda'].value_counts(dropna=False)
print(contagem_valores_ano)
print(valores_unicos_ano)

MesVenda
6     503
7     446
5     394
4     279
8     233
3     232
10    173
9     158
11    142
2     133
1     122
12    104
Name: count, dtype: int64
[ 2  5  9 12 10  8 11  4  1  7  3  6]
AnoVenda
2007    692
2009    647
2008    622
2006    619
2010    339
Name: count, dtype: int64
[2008 2007 2006 2009 2010]

In [802]:
valores_unicos_tipovend= df['TipoVenda'].unique()
contagem_valores_tipovend = df['TipoVenda'].value_counts(dropna=False)
print(contagem_valores_tipovend)
print(valores_unicos_tipovend)

valores_unicos_condvend= df['CondicaoVenda'].unique()
contagem_valores_condvend = df['CondicaoVenda'].value_counts(dropna=False)
print(contagem_valores_condvend)
print(valores_unicos_condvend)

TipoVenda
WD       2525
New       239
COD        87
ConLD      26
CWD        12
ConLI       9
ConLw       8
Oth         7
Con         5
NaN         1
Name: count, dtype: int64
['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth' nan]
CondicaoVenda
Normal     2402
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: count, dtype: int64
['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']

In [803]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_venda = ['TipoVenda', 'CondicaoVenda']

# Criar uma nova coluna com a concatenação dos valores das colunas de venda
df['InfoVenda'] = df[colunas_venda].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de venda
df = df.drop(colunas_venda, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento12 = 'InfoVenda'

num_clusters = 15 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento12 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento12].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_venda = df['InfoVenda_Cluster'].value_counts(dropna=False)
print("Contagem de valores para InfoVenda_Cluster:")
print(contagem_valores_colunas_venda)

valores_unicos_colunas_venda = df['InfoVenda_Cluster'].unique()
print("\nValores únicos para InfoVenda_Cluster:")
print(valores_unicos_colunas_venda)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para InfoVenda_Cluster:
InfoVenda_Cluster
0     2314
1      239
2      139
4       46
3       46
5       39
6       24
7       21
10      12
11      10
9        7
14       6
12       6
13       5
8        5
Name: count, dtype: int64

Valores únicos para InfoVenda_Cluster:
[ 0  2  1  4 10  5  6 14  3 13 11  9  8  7 12]

In [804]:
valores_unicos_qualger= df['QualidadeGeral'].unique()
contagem_valores_qualger = df['QualidadeGeral'].value_counts(dropna=False)
print(contagem_valores_qualger)
print(valores_unicos_qualger)

valores_unicos_condgeral= df['CondicaoGeral'].unique()
contagem_valores_condgeral = df['CondicaoGeral'].value_counts(dropna=False)
print(contagem_valores_condgeral)
print(valores_unicos_condgeral)

QualidadeGeral
5     825
6     731
7     600
8     342
4     226
9     107
3      40
10     31
2      13
1       4
Name: count, dtype: int64
[ 7  6  8  5  9  4 10  3  1  2]
CondicaoGeral
5    1645
6     531
7     390
8     144
4     101
3      50
9      41
2      10
1       7
Name: count, dtype: int64
[5 8 6 7 4 2 3 9 1]

In [805]:
valores_unicos_quart= df['QuartosAcima'].unique()
contagem_valores_quart = df['QuartosAcima'].value_counts(dropna=False)
print(contagem_valores_quart)
print(valores_unicos_quart)

valores_unicos_coza= df['CozinhasAcima'].unique()
contagem_valores_coza = df['CozinhasAcima'].value_counts(dropna=False)
print(contagem_valores_coza)
print(valores_unicos_coza)

QuartosAcima
3    1596
2     742
4     400
1     103
5      48
6      21
0       8
8       1
Name: count, dtype: int64
[3 4 1 2 0 5 6 8]
CozinhasAcima
1    2785
2     129
0       3
3       2
Name: count, dtype: int64
[1 2 3 0]

In [806]:
valores_unicos_qualcoz= df['QualidadeCozinha'].unique()
contagem_valores_qualcoz = df['QualidadeCozinha'].value_counts(dropna=False)
print(contagem_valores_qualcoz)
print(valores_unicos_qualcoz)

valores_unicos_totcomda= df['TotalComodosAcima'].unique()
contagem_valores_totcomda = df['TotalComodosAcima'].value_counts(dropna=False)
print(contagem_valores_totcomda)
print(valores_unicos_totcomda)

QualidadeCozinha
TA     1492
Gd     1151
Ex      205
Fa       70
NaN       1
Name: count, dtype: int64
['Gd' 'TA' 'Ex' 'Fa' nan]
TotalComodosAcima
6     844
7     649
5     583
8     347
4     196
9     143
10     80
11     32
3      25
12     16
2       1
14      1
13      1
15      1
Name: count, dtype: int64
[ 8  6  7  9  5 11  4 10 12  3  2 14 13 15]

In [807]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_quartos_cozinhas = ['CozinhasAcima', 'QualidadeCozinha']

# Criar uma nova coluna com a concatenação dos valores das colunas de quartos, cozinhas, qualidade de cozinha e total de cômodos acima
df['Cozinhas_Qualidade_Total'] = df[colunas_quartos_cozinhas].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de quartos, cozinhas, qualidade de cozinha e total de cômodos acima
df = df.drop(colunas_quartos_cozinhas, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento16 = 'Cozinhas_Qualidade_Total'

num_clusters = 200 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento16 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento16].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_qual_tot = df['Cozinhas_Qualidade_Total_Cluster'].value_counts(dropna=False)
print("Contagem de valores para Cozinhas_Qualidade_Total_Cluster:")
print(contagem_valores_colunas_qual_tot)

valores_unicos_colunas_qual_tot = df['Cozinhas_Qualidade_Total_Cluster'].unique()
print("\nValores únicos para Cozinhas_Qualidade_Total_Cluster:")
print(valores_unicos_colunas_qual_tot)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para Cozinhas_Qualidade_Total_Cluster:
Cozinhas_Qualidade_Total_Cluster
1    1372
0    1146
2     205
3     115
4      61
5       9
6       5
7       3
8       2
9       1
Name: count, dtype: int64

Valores únicos para Cozinhas_Qualidade_Total_Cluster:
[0 1 3 2 4 5 8 6 7 9]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:1152: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (200). Possibly due to duplicate points in X.
  return fit_method(estimator, *args, **kwargs)

In [808]:
valores_unicos_estcas= df['EstiloCasa'].unique()
contagem_valores_estcas = df['EstiloCasa'].value_counts(dropna=False)
print(contagem_valores_estcas)
print(valores_unicos_estcas)

valores_unicos_qualext= df['QualidadeExterior'].unique()
contagem_valores_qualext = df['QualidadeExterior'].value_counts(dropna=False)
print(contagem_valores_qualext)
print(valores_unicos_qualext)

EstiloCasa
1Story    1471
2Story     872
1.5Fin     314
SLvl       128
SFoyer      83
2.5Unf      24
1.5Unf      19
2.5Fin       8
Name: count, dtype: int64
['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
QualidadeExterior
TA    1798
Gd     979
Ex     107
Fa      35
Name: count, dtype: int64
['Gd' 'TA' 'Ex' 'Fa']

In [809]:
valores_unicos_condext= df['CondicaoExterior'].unique()
contagem_valores_condext = df['CondicaoExterior'].value_counts(dropna=False)
print(contagem_valores_condext)
print(valores_unicos_condext)

valores_unicos_tipfunt= df['TipoFundacao'].unique()
contagem_valores_tipfunt = df['TipoFundacao'].value_counts(dropna=False)
print(contagem_valores_tipfunt)
print(valores_unicos_tipfunt)

CondicaoExterior
TA    2538
Gd     299
Fa      67
Ex      12
Po       3
Name: count, dtype: int64
['TA' 'Gd' 'Fa' 'Po' 'Ex']
TipoFundacao
PConc     1308
CBlock    1235
BrkTil     311
Slab        49
Stone       11
Wood         5
Name: count, dtype: int64
['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']

In [810]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_qualidade_condicao = ['QualidadeExterior', 'CondicaoExterior']

# Criar uma nova coluna com a concatenação dos valores das colunas de estilo, qualidade exterior, condição exterior e tipo de fundação
df['Qualidade_Condicao'] = df[colunas_qualidade_condicao].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de estilo, qualidade exterior, condição exterior e tipo de fundação
df = df.drop(colunas_qualidade_condicao, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento17 = 'Qualidade_Condicao'

num_clusters = 50 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento17 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento17].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_qual_est = df['Qualidade_Condicao_Cluster'].value_counts(dropna=False)
print("Contagem de valores para Qualidade_Condicao_Cluster:")
print(contagem_valores_colunas_qual_est)

valores_unicos_colunas_qual_est = df['Qualidade_Condicao_Cluster'].unique()
print("\nValores únicos para Qualidade_Condicao_Cluster:")
print(valores_unicos_colunas_qual_est)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para Qualidade_Condicao_Cluster:
Qualidade_Condicao_Cluster
0     1523
1     1120
42     107
3       75
4       61
5       19
6        6
7        3
9        2
8        2
10       1
Name: count, dtype: int64

Valores únicos para Qualidade_Condicao_Cluster:
[ 1  0 42  4  3  5  6  9  7 10  8]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:1152: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (50). Possibly due to duplicate points in X.
  return fit_method(estimator, *args, **kwargs)

In [811]:
valores_unicos_recdiv= df['RecursoDiverso'].unique()
contagem_valores_recdiv = df['RecursoDiverso'].value_counts(dropna=False)
print(contagem_valores_recdiv)
print(valores_unicos_recdiv)

valores_unicos_valrec= df['ValorRecursoDiverso'].unique()
contagem_valores_valrec = df['ValorRecursoDiverso'].value_counts(dropna=False)
print(contagem_valores_valrec)
print(valores_unicos_valrec)

RecursoDiverso
NaN     2814
Shed      95
Gar2       5
Othr       4
TenC       1
Name: count, dtype: int64
[nan 'Shed' 'Gar2' 'Othr' 'TenC']
ValorRecursoDiverso
0        2816
400        18
500        13
450         9
600         8
2000        7
700         7
1500        3
650         3
1200        3
480         2
2500        2
3000        2
4500        2
750         1
900         1
17000       1
6500        1
1000        1
80          1
1512        1
455         1
460         1
490         1
1150        1
300         1
12500       1
8300        1
1400        1
560         1
620         1
54          1
1300        1
3500        1
800         1
15500       1
350         1
420         1
Name: count, dtype: int64
[    0   700   350   500   400   480   450 15500  1200   800  2000   600
  3500  1300    54   620   560  1400  8300  1150  2500 12500  1500   300
    80   490   650   900   750  6500  1000  4500  3000 17000  1512   455
   460   420]

In [812]:
# Substitua 'df' pelo nome real do seu DataFrame
df['RecursoDiverso'] = df['RecursoDiverso'].fillna(0)

In [813]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_recurso_valor = ['RecursoDiverso', 'ValorRecursoDiverso']

# Criar uma nova coluna com a concatenação dos valores das colunas de recurso diverso e valor do recurso diverso
df['Recurso_Valor'] = df[colunas_recurso_valor].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de recurso diverso e valor do recurso diverso
df = df.drop(colunas_recurso_valor, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento18 = 'Recurso_Valor'

num_clusters = 15 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento18 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento18].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_qual_rec = df['Recurso_Valor_Cluster'].value_counts(dropna=False)
print("Contagem de valores para Recurso_Valor_Cluster:")
print(contagem_valores_colunas_qual_rec)

valores_unicos_colunas_qual_rec = df['Recurso_Valor_Cluster'].unique()
print("\nValores únicos para Recurso_Valor_Cluster:")
print(valores_unicos_colunas_qual_rec)

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

Contagem de valores para Recurso_Valor_Cluster:
Recurso_Valor_Cluster
0     2815
13      21
1       18
3       13
2        9
4        8
8        7
5        7
6        5
10       3
7        3
12       3
9        3
11       2
14       2
Name: count, dtype: int64

Valores únicos para Recurso_Valor_Cluster:
[ 0  8 13  3  1 11  2  6 10  5  4  7 14 12  9]

In [814]:
valores_unicos_pav= df['Pavimentacao'].unique()
contagem_valores_pav = df['Pavimentacao'].value_counts(dropna=False)
print(contagem_valores_pav)
print(valores_unicos_pav)

valores_unicos_cerc= df['Cerca'].unique()
contagem_valores_cerc = df['Cerca'].value_counts(dropna=False)
print(contagem_valores_cerc)
print(valores_unicos_cerc)

Pavimentacao
Y    2641
N     216
P      62
Name: count, dtype: int64
['Y' 'N' 'P']
Cerca
NaN      2348
MnPrv     329
GdPrv     118
GdWo      112
MnWw       12
Name: count, dtype: int64
[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']

In [815]:
df = df.drop(['Cerca'], axis=1)

In [816]:
valores_unicos_zone= df['Zoneamento'].unique()
contagem_valores_zone = df['Zoneamento'].value_counts(dropna=False)
print(contagem_valores_zone)
print(valores_unicos_zone)

valores_unicos_utl= df['Utilidades'].unique()
contagem_valores_utl = df['Utilidades'].value_counts(dropna=False)
print(contagem_valores_utl)
print(valores_unicos_utl)

valores_unicos_func= df['Funcionalidade'].unique()
contagem_valores_func = df['Funcionalidade'].value_counts(dropna=False)
print(contagem_valores_func)
print(valores_unicos_func)

Zoneamento
RL         2265
RM          460
FV          139
RH           26
C (all)      25
NaN           4
Name: count, dtype: int64
['RL' 'RM' 'C (all)' 'FV' 'RH' nan]
Utilidades
AllPub    2916
NaN          2
NoSeWa       1
Name: count, dtype: int64
['AllPub' 'NoSeWa' nan]
Funcionalidade
Typ     2717
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
NaN        2
Name: count, dtype: int64
['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev' nan]

In [817]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_zoneamento_utilidades_funcionalidade = ['Zoneamento', 'Utilidades', 'Funcionalidade']

# Criar uma nova coluna com a concatenação dos valores das colunas de zoneamento, utilidades e funcionalidade
df['Zoneamento_Utilidades_Funcionalidade'] = df[colunas_zoneamento_utilidades_funcionalidade].astype(str).agg('_'.join, axis=1)

# Excluir colunas originais de zoneamento, utilidades e funcionalidade
df = df.drop(colunas_zoneamento_utilidades_funcionalidade, axis=1)

# Substitua 'df' pelo nome real do seu DataFrame
coluna_agrupamento20 = 'Zoneamento_Utilidades_Funcionalidade'

num_clusters = 20 # Você pode ajustar o número de clusters conforme necessário

# Criar uma nova coluna com códigos de cluster
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
df[coluna_agrupamento20 + '_Cluster'] = kmeans.fit_predict(df[coluna_agrupamento20].str.get_dummies('_'))

# Exibindo contagem de valores únicos e valores únicos para a nova coluna
contagem_valores_colunas_qual_ZON = df['Zoneamento_Utilidades_Funcionalidade_Cluster'].value_counts(dropna=False)
print("Contagem de valores para Zoneamento_Utilidades_Funcionalidade_Cluster:")
print(contagem_valores_colunas_qual_ZON)

valores_unicos_colunas_qual_ZON = df['Zoneamento_Utilidades_Funcionalidade_Cluster'].unique()
print("\nValores únicos para Zoneamento_Utilidades_Funcionalidade_Cluster:")
print(valores_unicos_colunas_qual_ZON)

Contagem de valores para Zoneamento_Utilidades_Funcionalidade_Cluster:
Zoneamento_Utilidades_Funcionalidade_Cluster
0     2115
1      417
3      137
4       54
2       54
7       26
5       25
10      22
6       14
11      10
8       10
9        8
13       7
12       5
14       4
17       4
15       4
19       1
18       1
16       1
Name: count, dtype: int64

Valores únicos para Zoneamento_Utilidades_Funcionalidade_Cluster:
[ 0  8  1  4 10  3  9  2 13 11  7  5 14 12  6 19 17 18 15 16]

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [818]:
print(df.columns)
display(df)

Index(['ClasseDeConstrução', 'FrenteLote', 'AreaLote', 'Rua', 'TipoConstrucao',
       'EstiloCasa', 'QualidadeGeral', 'CondicaoGeral', 'AnoConstrucao',
       'AnoRemodelacao', 'TipoFundacao', 'AreaAcabadaPorao1',
       'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao',
       '1oAndarSF', '2oAndarSF', 'AreaBaixaQualidadeAcabamento', 'AreaViva',
       'BanheirosPorao', 'MeioBanheiroPorao', 'BanheirosCompletos',
       'MeioBanheiros', 'QuartosAcima', 'TotalComodosAcima', 'Pavimentacao',
       'DeckMadeiraSF', 'VarandaAbertaSF', 'VarandaFechadaSF',
       'Varanda3EstacoesSF', 'VarandaTelaSF', 'MesVenda', 'AnoVenda',
       'SalePrice', 'StatusPiscina_Cluster', 'StatusGaragem',
       'StatusGaragem_Cluster', 'MediaPorao', 'MediaPorao_Cluster',
       'AgrupamentoLocal', 'AgrupamentoLocal_Cluster',
       'AgrupamentoAquecimento', 'AgrupamentoAquecimento_Cluster',
       'RevestimentoMa', 'RevestimentoMa_Cluster', 'Revestimento',
       'Revestimento_Cluster', 'StatusLareira', 'StatusLareira_Cluster',
       'ConfigDeclividade', 'ConfigDeclividade_Cluster', 'InfoLote',
       'InfoLote_Cluster', 'InfoVenda', 'InfoVenda_Cluster',
       'Cozinhas_Qualidade_Total', 'Cozinhas_Qualidade_Total_Cluster',
       'Qualidade_Condicao', 'Qualidade_Condicao_Cluster', 'Recurso_Valor',
       'Recurso_Valor_Cluster', 'Zoneamento_Utilidades_Funcionalidade',
       'Zoneamento_Utilidades_Funcionalidade_Cluster'],
      dtype='object')

,ClasseDeConstrução,FrenteLote,AreaLote,Rua,TipoConstrucao,EstiloCasa,QualidadeGeral,CondicaoGeral,AnoConstrucao,AnoRemodelacao,...,InfoVenda,InfoVenda_Cluster,Cozinhas_Qualidade_Total,Cozinhas_Qualidade_Total_Cluster,Qualidade_Condicao,Qualidade_Condicao_Cluster,Recurso_Valor,Recurso_Valor_Cluster,Zoneamento_Utilidades_Funcionalidade,Zoneamento_Utilidades_Funcionalidade_Cluster
0,60,65.0,8450,Pave,1Fam,2Story,7,5,2003,2003,...,WD_Normal,0,1_Gd,0,Gd_TA,1,0_0,0,RL_AllPub_Typ,0
1,20,80.0,9600,Pave,1Fam,1Story,6,8,1976,1976,...,WD_Normal,0,1_TA,1,TA_TA,0,0_0,0,RL_AllPub_Typ,0
2,60,68.0,11250,Pave,1Fam,2Story,7,5,2001,2002,...,WD_Normal,0,1_Gd,0,Gd_TA,1,0_0,0,RL_AllPub_Typ,0
3,70,60.0,9550,Pave,1Fam,2Story,7,5,1915,1970,...,WD_Abnorml,2,1_Gd,0,TA_TA,0,0_0,0,RL_AllPub_Typ,0
4,60,84.0,14260,Pave,1Fam,2Story,8,5,2000,2000,...,WD_Normal,0,1_Gd,0,Gd_TA,1,0_0,0,RL_AllPub_Typ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,Pave,Twnhs,2Story,4,7,1970,1970,...,WD_Normal,0,1_TA,1,TA_TA,0,0_0,0,RM_AllPub_Typ,1
1455,160,21.0,1894,Pave,TwnhsE,2Story,4,5,1970,1970,...,WD_Abnorml,2,1_TA,1,TA_TA,0,0_0,0,RM_AllPub_Typ,1
1456,20,160.0,20000,Pave,1Fam,1Story,5,7,1960,1996,...,WD_Abnorml,2,1_TA,1,TA_TA,0,0_0,0,RL_AllPub_Typ,0
1457,85,62.0,10441,Pave,1Fam,SFoyer,5,5,1992,1992,...,WD_Normal,0,1_TA,1,TA_TA,0,Shed_700,8,RL_AllPub_Typ,0
1458,60,74.0,9627,Pave,1Fam,2Story,7,5,1993,1994,...,WD_Normal,0,1_TA,1,TA_TA,0,0_0,0,RL_AllPub_Typ,0

In [819]:
# Substitua 'df' pelo nome real do seu DataFrame
colunas_excluir = ['StatusGaragem', 'InfoLote', 'InfoVenda', 'RevestimentoMa',
                   'MediaPorao', 'Qualidade_Condicao', 'InfoLote', 'InfoVenda',
                   'AgrupamentoLocal', 'AgrupamentoAquecimento', 'Revestimento', 'StatusLareira', 'ConfigDeclividade', 
                 'Cozinhas_Qualidade_Total', 'Qualidade_Condicao', 'Recurso_Valor', 'Zoneamento_Utilidades_Funcionalidade']

# Excluir as colunas mencionadas
df = df.drop(colunas_excluir, axis=1)

# Exibir as colunas restantes
print(df.columns)
display(df)

Index(['ClasseDeConstrução', 'FrenteLote', 'AreaLote', 'Rua', 'TipoConstrucao',
       'EstiloCasa', 'QualidadeGeral', 'CondicaoGeral', 'AnoConstrucao',
       'AnoRemodelacao', 'TipoFundacao', 'AreaAcabadaPorao1',
       'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao',
       '1oAndarSF', '2oAndarSF', 'AreaBaixaQualidadeAcabamento', 'AreaViva',
       'BanheirosPorao', 'MeioBanheiroPorao', 'BanheirosCompletos',
       'MeioBanheiros', 'QuartosAcima', 'TotalComodosAcima', 'Pavimentacao',
       'DeckMadeiraSF', 'VarandaAbertaSF', 'VarandaFechadaSF',
       'Varanda3EstacoesSF', 'VarandaTelaSF', 'MesVenda', 'AnoVenda',
       'SalePrice', 'StatusPiscina_Cluster', 'StatusGaragem_Cluster',
       'MediaPorao_Cluster', 'AgrupamentoLocal_Cluster',
       'AgrupamentoAquecimento_Cluster', 'RevestimentoMa_Cluster',
       'Revestimento_Cluster', 'StatusLareira_Cluster',
       'ConfigDeclividade_Cluster', 'InfoLote_Cluster', 'InfoVenda_Cluster',
       'Cozinhas_Qualidade_Total_Cluster', 'Qualidade_Condicao_Cluster',
       'Recurso_Valor_Cluster',
       'Zoneamento_Utilidades_Funcionalidade_Cluster'],
      dtype='object')

,ClasseDeConstrução,FrenteLote,AreaLote,Rua,TipoConstrucao,EstiloCasa,QualidadeGeral,CondicaoGeral,AnoConstrucao,AnoRemodelacao,...,RevestimentoMa_Cluster,Revestimento_Cluster,StatusLareira_Cluster,ConfigDeclividade_Cluster,InfoLote_Cluster,InfoVenda_Cluster,Cozinhas_Qualidade_Total_Cluster,Qualidade_Condicao_Cluster,Recurso_Valor_Cluster,Zoneamento_Utilidades_Funcionalidade_Cluster
0,60,65.0,8450,Pave,1Fam,2Story,7,5,2003,2003,...,2,2,0,1,1,0,0,1,0,0
1,20,80.0,9600,Pave,1Fam,1Story,6,8,1976,1976,...,1,3,2,4,1,0,1,0,0,0
2,60,68.0,11250,Pave,1Fam,2Story,7,5,2001,2002,...,2,2,2,1,0,0,0,1,0,0
3,70,60.0,9550,Pave,1Fam,2Story,7,5,1915,1970,...,1,0,1,0,0,2,0,0,0,0
4,60,84.0,14260,Pave,1Fam,2Story,8,5,2000,2000,...,2,2,2,4,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,Pave,Twnhs,2Story,4,7,1970,1970,...,1,5,0,1,1,0,1,0,0,1
1455,160,21.0,1894,Pave,TwnhsE,2Story,4,5,1970,1970,...,1,5,0,1,1,2,1,0,0,1
1456,20,160.0,20000,Pave,1Fam,1Story,5,7,1960,1996,...,1,2,2,1,1,2,1,0,0,0
1457,85,62.0,10441,Pave,1Fam,SFoyer,5,5,1992,1992,...,1,4,0,1,1,0,1,0,8,0
1458,60,74.0,9627,Pave,1Fam,2Story,7,5,1993,1994,...,2,4,2,3,1,0,1,0,0,0

In [820]:
# Verificar valores NaN em cada coluna
nan_info = df.isnull().sum()

# Calcular a proporção de NaN em relação ao total de linhas
nan_ratio = nan_info / len(df)

# Criar um DataFrame para exibir as informações
nan_df = pd.DataFrame({
    'Coluna': nan_info.index,
    'Quantidade_NaN': nan_info.values,
    'Proporcao_NaN': nan_ratio.values
})

# Filtrar apenas as colunas com valores NaN
nan_df = nan_df[nan_df['Quantidade_NaN'] > 0]
pd.set_option('display.max_rows', None)
# Visualizar o DataFrame resultante
display(nan_df)
pd.reset_option('display.max_rows', None)

                 Coluna  Quantidade_NaN  Proporcao_NaN
11    AreaAcabadaPorao1               1       0.000343
12    AreaAcabadaPorao2               1       0.000343
13  AreaNaoAcabadaPorao               1       0.000343
14       AreaTotalPorao               1       0.000343
19       BanheirosPorao               2       0.000685
20    MeioBanheiroPorao               2       0.000685
33            SalePrice            1459       0.499829

In [821]:
# Lista das colunas indicadas
colunas_a_calcular = ['AreaAcabadaPorao1', 'AreaAcabadaPorao2', 'AreaNaoAcabadaPorao', 'AreaTotalPorao', 'BanheirosPorao', 'MeioBanheiroPorao']

# Calculando a média
media_colunas = train[colunas_a_calcular].mean()

# Calculando a moda
moda_colunas = train[colunas_a_calcular].mode().iloc[0]

# Exibindo os resultados
print("Média das colunas:")
print(media_colunas)

print("\nModa das colunas:")
print(moda_colunas)

Média das colunas:
AreaAcabadaPorao1       443.639726
AreaAcabadaPorao2        46.549315
AreaNaoAcabadaPorao     567.240411
AreaTotalPorao         1057.429452
BanheirosPorao            0.425342
MeioBanheiroPorao         0.057534
dtype: float64

Moda das colunas:
AreaAcabadaPorao1      0
AreaAcabadaPorao2      0
AreaNaoAcabadaPorao    0
AreaTotalPorao         0
BanheirosPorao         0
MeioBanheiroPorao      0
Name: 0, dtype: int64

In [822]:
# Preencher NaN com a média
df['AreaAcabadaPorao1'].fillna(train['AreaAcabadaPorao1'].mean(), inplace=True)
df['AreaAcabadaPorao2'].fillna(train['AreaAcabadaPorao2'].mean(), inplace=True)
df['AreaNaoAcabadaPorao'].fillna(train['AreaNaoAcabadaPorao'].mean(), inplace=True)
df['AreaTotalPorao'].fillna(train['AreaTotalPorao'].mean(), inplace=True)

# Preencher NaN com a moda
df['BanheirosPorao'].fillna(train['BanheirosPorao'].mode().iloc[0], inplace=True)
df['MeioBanheiroPorao'].fillna(train['MeioBanheiroPorao'].mode().iloc[0], inplace=True)

In [823]:
# Verificar valores NaN em cada coluna
nan_info = df.isnull().sum()

# Calcular a proporção de NaN em relação ao total de linhas
nan_ratio = nan_info / len(df)

# Criar um DataFrame para exibir as informações
nan_df = pd.DataFrame({
    'Coluna': nan_info.index,
    'Quantidade_NaN': nan_info.values,
    'Proporcao_NaN': nan_ratio.values
})

# Filtrar apenas as colunas com valores NaN
nan_df = nan_df[nan_df['Quantidade_NaN'] > 0]
pd.set_option('display.max_rows', None)
# Visualizar o DataFrame resultante
display(nan_df)
pd.reset_option('display.max_rows', None)

       Coluna  Quantidade_NaN  Proporcao_NaN
33  SalePrice            1459       0.499829

In [824]:
colunas_categoricas = df.select_dtypes(include=['object']).columns

# Exibir as colunas categóricas
print(colunas_categoricas)

Index(['Rua', 'TipoConstrucao', 'EstiloCasa', 'TipoFundacao', 'Pavimentacao',
       'StatusPiscina_Cluster'],
      dtype='object')

In [825]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Substitua 'df' pelo nome real do seu DataFrame
colunas_cluster = [
    'StatusPiscina_Cluster', 'StatusGaragem_Cluster', 'Rua', 'TipoConstrucao',
    'MediaPorao_Cluster', 'AgrupamentoLocal_Cluster', 'EstiloCasa', 'TipoFundacao', 'Pavimentacao',
    'AgrupamentoAquecimento_Cluster', 'RevestimentoMa_Cluster',
    'Revestimento_Cluster', 'StatusLareira_Cluster',
    'ConfigDeclividade_Cluster', 'InfoLote_Cluster', 'InfoVenda_Cluster',
    'Cozinhas_Qualidade_Total_Cluster', 'Qualidade_Condicao_Cluster',
    'Recurso_Valor_Cluster', 'Zoneamento_Utilidades_Funcionalidade_Cluster'
]

# Crie um objeto OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop='first')

# Ajuste e transforme as colunas do tipo 'Cluster' usando o encoder
df_encoded_cluster = pd.DataFrame(encoder.fit_transform(df[colunas_cluster]))

# Atribua nomes às novas colunas dummy
df_encoded_cluster.columns = encoder.get_feature_names_out(colunas_cluster)

# Redefina os índices dos DataFrames antes da concatenação
df_encoded_cluster.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

# Concatene as colunas dummy ao DataFrame original e remova as colunas 'Cluster' originais
df_encoded = pd.concat([df, df_encoded_cluster], axis=1).drop(columns=colunas_cluster)

# Exiba as primeiras linhas do DataFrame resultante
df_encoded.head()

C:\Users\psyte\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,ClasseDeConstrução,FrenteLote,AreaLote,QualidadeGeral,CondicaoGeral,AnoConstrucao,AnoRemodelacao,AreaAcabadaPorao1,AreaAcabadaPorao2,AreaNaoAcabadaPorao,...,Zoneamento_Utilidades_Funcionalidade_Cluster_10,Zoneamento_Utilidades_Funcionalidade_Cluster_11,Zoneamento_Utilidades_Funcionalidade_Cluster_12,Zoneamento_Utilidades_Funcionalidade_Cluster_13,Zoneamento_Utilidades_Funcionalidade_Cluster_14,Zoneamento_Utilidades_Funcionalidade_Cluster_15,Zoneamento_Utilidades_Funcionalidade_Cluster_16,Zoneamento_Utilidades_Funcionalidade_Cluster_17,Zoneamento_Utilidades_Funcionalidade_Cluster_18,Zoneamento_Utilidades_Funcionalidade_Cluster_19
0,60,65.0,8450,7,5,2003,2003,706.0,0.0,150.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,80.0,9600,6,8,1976,1976,978.0,0.0,284.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60,68.0,11250,7,5,2001,2002,486.0,0.0,434.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,70,60.0,9550,7,5,1915,1970,216.0,0.0,540.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60,84.0,14260,8,5,2000,2000,655.0,0.0,490.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [831]:
colunas_categoricas2 = df_encoded.select_dtypes(include=['object']).columns

# Exibir as colunas categóricas
print(colunas_categoricas2)

Index([], dtype='object')

In [827]:
df_Train = df_encoded.iloc[:1460, :]
df_Test = df_encoded.iloc[1460:, :]
df_Train.head()

,ClasseDeConstrução,FrenteLote,AreaLote,QualidadeGeral,CondicaoGeral,AnoConstrucao,AnoRemodelacao,AreaAcabadaPorao1,AreaAcabadaPorao2,AreaNaoAcabadaPorao,...,Zoneamento_Utilidades_Funcionalidade_Cluster_10,Zoneamento_Utilidades_Funcionalidade_Cluster_11,Zoneamento_Utilidades_Funcionalidade_Cluster_12,Zoneamento_Utilidades_Funcionalidade_Cluster_13,Zoneamento_Utilidades_Funcionalidade_Cluster_14,Zoneamento_Utilidades_Funcionalidade_Cluster_15,Zoneamento_Utilidades_Funcionalidade_Cluster_16,Zoneamento_Utilidades_Funcionalidade_Cluster_17,Zoneamento_Utilidades_Funcionalidade_Cluster_18,Zoneamento_Utilidades_Funcionalidade_Cluster_19
0,60,65.0,8450,7,5,2003,2003,706.0,0.0,150.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,80.0,9600,6,8,1976,1976,978.0,0.0,284.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60,68.0,11250,7,5,2001,2002,486.0,0.0,434.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,70,60.0,9550,7,5,1915,1970,216.0,0.0,540.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60,84.0,14260,8,5,2000,2000,655.0,0.0,490.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [828]:
df_Test.head()

,ClasseDeConstrução,FrenteLote,AreaLote,QualidadeGeral,CondicaoGeral,AnoConstrucao,AnoRemodelacao,AreaAcabadaPorao1,AreaAcabadaPorao2,AreaNaoAcabadaPorao,...,Zoneamento_Utilidades_Funcionalidade_Cluster_10,Zoneamento_Utilidades_Funcionalidade_Cluster_11,Zoneamento_Utilidades_Funcionalidade_Cluster_12,Zoneamento_Utilidades_Funcionalidade_Cluster_13,Zoneamento_Utilidades_Funcionalidade_Cluster_14,Zoneamento_Utilidades_Funcionalidade_Cluster_15,Zoneamento_Utilidades_Funcionalidade_Cluster_16,Zoneamento_Utilidades_Funcionalidade_Cluster_17,Zoneamento_Utilidades_Funcionalidade_Cluster_18,Zoneamento_Utilidades_Funcionalidade_Cluster_19
1460,20,80.0,11622,5,6,1961,1961,468.0,144.0,270.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1461,20,81.0,14267,6,6,1958,1958,923.0,0.0,406.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1462,60,74.0,13830,5,5,1997,1998,791.0,0.0,137.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1463,60,78.0,9978,6,6,1998,1998,602.0,0.0,324.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1464,120,43.0,5005,8,5,1992,1992,263.0,0.0,1017.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [832]:
df_encoded.to_csv('DF_PRONTO.csv', index=False)
df_Train.to_csv('df_Train_pronto.csv', index=False)
df_Test.to_csv('df_Test_pronto.csv', index=False)

: